/* your styles go here */

.box-image-text .image {
  min-height: 50px;
  max-height: 190px;
  margin: center;
}
.date-text{
  position: absolute;
  background-color: #467fbf;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
  letter-spacing: 0.08em;
  font-weight: 300;
  font-size: 12px;
  opacity: 0.7;
}
.date-text p{
  color: #ffffff;
}
.tag-text{
  position: absolute;
  background-color: #467fbf;
  color: #ffffff;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
    text-transform: none;
    letter-spacing: 0.08em;
    font-weight: 300;
    font-size: 12px;
    opacity: 0.7;
}
.tag-text p{
  color: #ffffff;
}
.box-simple {
  min-height: 230px;
}
.position {
position: absolute;
top: 20%;
}
.slidepic{
  margin: auto;
  width: 100% auto;
}
.slidepic img{
  height: auto;
  width: 100%;
}
.btn-square-shadow-ora {
  display: inline-block;
  padding: 0.2em 1em;
  margin: 0.1em;
  text-decoration: none;
  background: #e14a4a;
  color: #FFF;
  border-bottom: solid 4px #a56210;
  border-radius: 3px;
  font-size: 12px;
  }
  .btn-square-shadow-ora:hover {
background:#973030;
  }
  .btn-square-shadow-ora:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }
  .btn-square-shadow {
    display: inline-block;
    padding: 0.2em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    font-size: 12px;
  }
  .btn-square-shadow:hover{
  background: #3d5385;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }
  .btn-square-shadow-old {
    display: inline-block;
    padding: 0.2em 1em;
    text-decoration: none;
    background: #999999;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #555555;
    border-radius: 3px;
    font-size: 12px;
  }
  .btn-square-shadow-old:hover {
    background: #000000;/*ボタン色*/
  }
  .btn-square-shadow-old:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }
/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #000;
}

.goglobal a{
  position: absolute;
  top:60%;
  font-size: 20px;
  left: 10%;
}
.goglobal a:hover{
cursor: pointer;
}
.tele {
  position: relative;
}
.tele .btn-template-main {
  position: absolute;
  font-size: 18px;
  left: 10%;
  top: 30%;
}

.tele .btn-template-main:hover {
  cursor: pointer;
}

.teletext {
  position: absolute;
  font-size:20px;
  left: 12%;
  top: 50%;
}
.teletext:hover{
  cursor: pointer;
}
.casepic{
  position: relative;
}
.casepic p{
  position: absolute;
  text-align: center;
  font-size: 20px;
  color: #000;
  top:40%;
  left:50%;
}
.casepic a{
  position: absolute;
  font-size: 25px;
  top:43%;
  left: 20%;
}
.casepic a:hover{
  cursor: pointer;
}

.websepa{
  position: relative;
}
.websepa p{
  color: #000;
  position: absolute;
  font-size: 30px;
  left: 20px;
  top:80px;
}
.websepa .btn-template-main{
  position: absolute;
  left:20px;
  font-size: 20px;
  top: 200px;
}
.websepa .btn .btn-template-main:hover {
  cursor: pointer;
}
@media (max-width: 991px) {
  .goglobal {
    position: relative;
  }
  .goglobal a{
    position: absolute;
    top:70%;
    font-size: 20px;
    left: 10%;
  }
  .tele {
    position: relative;
  }
  .tele .btn-template-main {
    position: absolute;
    font-size: 20px;
    left: 10%;
    top: 20%;
  }
  .teletext {
    position: absolute;
    font-size:20px;
    left: 90px;
    top: 50%;
  }
  .casepic{
    position: relative;
  }
  .casepic p{
    position: absolute;
    font-size: 20px;
    color: #000;
    top:100px;
    left:150px;
  }
  .casepic a{
    position: absolute;
    font-size: 18px;
    top:170px;
    left:150px;
  }
  .websepa{
    position: relative;
  }
  .websepa p{
    color: #000;
    position: absolute;
    font-size: 20px;
    left: 20px;
    top:30px;
  }
  .websepa .btn-template-main {
    position: absolute;
    left:20px;
    font-size:20px;
    top:170px;
  }
}
@media (max-width: 768px) {
  .goglobal {
    position: relative;
  }
  .goglobal a{
    position: absolute;
    top:70%;
    font-size: 10px;
    left: 10%;
  }
  .goglobal .btn .btn-template-main:hover{
    cursor: pointer;
  }
  .tele {
    position: relative;
  }
  .tele .btn-template-main  {
    position: absolute;
    font-size: 12px;
    left: 10%;
    top: 20%;
  }
  .teletext {
    position: absolute;
    font-size:12px;
    left: 14%;
    top: 50%;
  }
  .casepic{
    position: relative;
  }
  .casepic a{
    text-align: center;
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .websepa{
    position: relative;
  }
  .websepa p{
    color: #000;
    position: absolute;
    font-size: 10px;
    left: 12%;
    top:30%;
  }
  .websepa p{
    position: absolute;
    left:10%;
    font-size:10px;
    top:70%;
  }
}

.adaptb {
  position: relative;
  width: 1000px;
  margin: auto;
}
.adaptb p{
  position: absolute;/*絶対配置*/
  top: 330px;
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 1199px) {
  .adaptb {
    position: relative;
    width: 700px;
    margin: auto;
  }
  .adaptb p{
    position: absolute;/*絶対配置*/
    top: 83%;    
    font-size: 26px;
  } 
  .adaptb .lift {
    position: absolute;/*絶対配置*/
    top: 75%;    
    font-size: 26px;
  } 
}
@media (max-width: 771px) {
  .adaptb {
    position: relative;
    width: 500px;
    margin: auto;
    max-width: 100%;
  }
  .adaptb p{
    position: absolute;/*絶対配置*/
    top: 83%;    
    font-size: 12px;
  } 

  .adaptb .lift {
    position: absolute;/*絶対配置*/
    top: 77%;    
    font-size: 14px;
  } 
}
.badreason{
  display: inline-block;
    border-bottom: solid 5px #ca574f;
    line-height: 1.1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    letter-spacing: 0.06em;
}

.boxmatome {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
}


.boxmatome .box-title {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #3d80cc;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.boxmatome p {
  margin: 0; 
  padding: 0;
}
.boxmatome p{
  margin-bottom: 5px;
  }
  .boxmatome2 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #ca574f;
  }
  
  
  .boxmatome2 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #ee3414;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
  }
  .boxmatome2 p {
    margin: 0; 
    padding: 0;
  }
  .boxmatome2 p{
    margin-bottom: 5px;
    }
  /*ドロップダウンのマウスオーバ*/
.icon1 {
  width: 20px;
  height: 20px;
  vertical-align:bottom;
}

.general-content .adapta h3 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: hidden;
  }
  .general-content .adapta-bad h3 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #c23927;/*左線*/
      border-bottom: hidden;
  }
  
  @media (max-width: 1270px){
  .side-fixed-bar {
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 50px;
      
  }
}
  .side-fixed-bar {
      position: fixed;
      height: 70px;
      width: 100%;
      left: 0px;
      bottom: 0px;
      filter:alpha(opacity=80);
      -moz-opacity: 0.8;
      opacity: 0.8;
  }
  .block2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .block1{
    text-align: center;
  }
  .block1 img{
    width: 150px;
  }

  .block3 img{
   width: 100%;
  }

  .block3{
    text-align: center;
  }
  .block4{
    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;  
  }
  textarea.form-control {
    height: 200px;
}
.bar.background-image-fixed-3 {
  background: url('../img/webseptop.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bar.background-image-fixed-4 {
  background: url('../img/worktop.jpg') center top no-repeat;
  background-attachment: fixed;
  
}
.bar.background-image-fixed-5 {
  background: url('../img/tintop.jpg') center top no-repeat;
  background-attachment: fixed;
}
.bar.background-image-fixed-6 {
  background: url('../img/apptop.jpg') center top no-repeat;
  background-attachment: fixed;
}.bar.background-image-fixed-7 {
  background: url('../img/adaptatop.jpg') center top no-repeat;
  background-attachment: fixed;

}.bar.background-image-fixed-8 {
  background: url('../img/adapt2t.jpg') center top no-repeat;
  background-attachment: fixed;

}
.bar.background-image-fixed-9 {
  background: url('../img/case3/TOP.jpg') center top no-repeat;
  background-attachment: fixed;

}.bar.background-image-fixed-10 {
  background: url('../img/bcp/BCP.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}.bar.background-image-fixed-11 {
  background: url('../img/adapt5/top.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: 1200px;
}.bar.background-image-fixed-12 {
  background: url('../img/case/top.jpg') center top no-repeat;
  background-attachment: fixed;
}.bar.background-image-fixed-13 {
  background: url('../img/ggtop.jpg') center top no-repeat;
  background-attachment: fixed;

}
.bar.background-image-fixed-14 {
  background: url('../img/terewa02.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}
.bar.background-image-fixed-15 {
  background: url('../img/top-giga.jpg') center top no-repeat;
  background-attachment: fixed;
}
.bar.background-image-fixed-16 {
  background: url('../img/top-chrome.jpg') center top no-repeat;
  background-attachment: fixed;
}
.bar.background-image-fixed-17 {
  background: url('../img/ggtop01.jpg') center top no-repeat;
  background-attachment: fixed;
}
.bar.background-image-fixed-18 {
  background: url('../img/top-tle.jpg') center top no-repeat;
  background-attachment: fixed;
}
.bar.background-image-fixed-19 {
  background: url('../img/teleworkmoushikomi.jpg') center top no-repeat;
  background-attachment: fixed;
}
.bar.background-image-fixed-20 {
  background: url('../img/separation.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*サポートスケジュール*/
.bar.background-image-fixed-21 {
  background: url('../img/supportschedule.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;

}
/*サポートの流れ*/
.bar.background-image-fixed-22 {
  background: url('../img/support.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;

}
/*正規販売代理店*/
.bar.background-image-fixed-23 {
  background: url('../img/partner.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}
/*faq*/
.bar.background-image-fixed-24 {
  background: url('../img/separation.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.recent-posts-tag p{
    display: inline-block;
    width: 130px;
    height: 25px;
    text-align: center;
    top: -1px;
    background: #ddd;
}
.footer-nav-column {
  text-align: center;
}
.footer-nav-column-content{
  width: 150px;
  text-align: left;
  display: inline-block;
}
  .footer-nav-column-a{
    text-align: left;
    display: inline-block;
    }
.footer-nav-list{
text-align: left;
display: inline-block;
}
.navbar-brand img{
  position: absolute;
  margin-top: 40px;
  margin-bottom: 5px
  }
@media (max-width: 1200px){
  .navbar-brand img{
    position: absolute;
    margin-top: 15px;
    margin-bottom: 5px
    }
}

.footer-nav-line{
  line-height: 1.42857143;
  font-size: 15px;
}
.youtube{
  text-align: center;
}
.breadcrumb {
  padding: 0;
  margin: auto;
  max-width: 1100px;
}
.breadcrumb li {
  
  display: inline;
  list-style: none;
  font-size: 9px;
}


    /*チェックボックス*/
.checkmark001{
	padding-left:24px;
	position:relative;
}
.checkmark001:before,
.checkmark001:after{
	content:"";
	display:block;
	position:absolute;
}
.checkmark001:before{
	width:16px;
	height:16px;
	background:#ffffff;
    	border:1px solid #000000;
	left:0;top:6px;
}
.checkmark001:after{
	border-left:2px solid #ff0000;
	border-bottom:2px solid #ff0000;
	width:18px;
	height:8px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	left:5px;
	top:3px;
}
.cp_qa *, .cp_qa *:before, .cp_qa *:after {
  font-family: 'FontAwesome', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  .cp_qa {
  margin: 0 auto;
  background: #ffffff;
  }
  .cp_qa input {
  display: none;
  }
  /* カテゴリー */
  .cp_qa #cp_content1,
  .cp_qa #cp_content2,
  .cp_qa #cp_content3,
  .cp_qa #cp_content4 {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #dddddd;
  }
  .cp_qa label.cp_tabitem {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  color: #bbbbbb;
  border: 1px solid transparent;
  }
  .cp_qa label.cp_tabitem:before {
  margin-right: 10px;
  }
  .cp_qa label.cp_tabitem[for*='1']:before { content: '\f51c'; }
  .cp_qa label.cp_tabitem[for*='2']:before { content: '\f233'; }
  .cp_qa label.cp_tabitem[for*='3']:before { content: '\f59d'; }
  .cp_qa label.cp_tabitem[for*='4']:before { content: '\f4fe'; }
  .cp_qa label.cp_tabitem:hover {
  cursor: pointer;
  color: #888888;
  }
  .cp_qa input:checked + label {
  color: #555555;
  border: 1px solid #dddddd;
  border-bottom: 1px solid #ffffff;
  }
  /* --ブロックのバーの色 */
  .cp_qa input:checked + label[for*='1'] {
  border-top: 5px solid #00BCD4;
  }
  .cp_qa input:checked + label[for*='2'] {
  border-top: 5px solid #FF5722;
  }
  .cp_qa input:checked + label[for*='3'] {
  border-top: 5px solid #03A9F4;
  }
  .cp_qa input:checked + label[for*='4'] {
  border-top: 5px solid #E91E63;
  }
  @media screen and (max-width: 650px) {
  .cp_qa label.cp_tabitem {
  font-size: 14px;
  }
  label:before {
  font-size: 18px;
  margin: 0;
  }
  }
  @media screen and (max-width: 400px) {
  .cp_qa label.cp_tabitem {
  padding: 15px;
  }
  .cp_qa label.cp_tabitem:before {
  margin-right: 0px;
  }
  }
  /* QAブロック */
  .cp_qa #cp_conttab1:checked ~ #cp_content1,
  .cp_qa #cp_conttab2:checked ~ #cp_content2,
  .cp_qa #cp_conttab3:checked ~ #cp_content3,
  .cp_qa #cp_conttab4:checked ~ #cp_content4 {
  display: block;
  }
  .cp_qa .cp_qain {
  overflow-x: hidden;
  margin: 0 auto;
  color: #333333;
  }
  .cp_qa .cp_qain .cp_actab {
  padding: 20px 0;
  border-bottom: 1px dotted #cccccc;
  }
  /* 質問 */
  .cp_qa .cp_qain label {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 10px 0 48px;
  cursor: pointer;
  }
  /* ＋アイコン */
  .cp_qa .cp_qain .cp_plus {
  font-size: 2em;
  line-height: 100%;
  position: absolute;
  z-index: 5;
  margin-top: 3px;
  margin-left: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  }
  /* 答え */
  .cp_qa .cp_qain .cp_actab-content {
  position: relative;
  overflow: hidden;
  height: 0;
  margin: 0 10px 0 48px;
  padding: 14px 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0;
  }
  /* 質問を開いた時の仕様 */
  .cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_actab-content {
  height: auto;
  opacity: 1;
  }
  /* 質問をクリックした時の▼アイコンの動き */
  .cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_plus {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  }
 