<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">
                  
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        {{ if or .Params.author .Params.date }}
                          <p class="text-muted text-uppercase mb-small text-right">
                            {{ if .Params.author }}{{ i18n "authorBy" }} <a href="#">{{ .Params.author }}</a>{{ end }}
                            {{ if and .Params.author .Params.date }} | {{ end }}
                            {{ if .Params.date }}{{ .Date.Format .Site.Params.date_format }}{{ end }}
                          </p>
                        {{ end }}
                      
                        <div id="post-content">
                          {{ .Content }}
                        </div>
                        {{ if and (.Params.categories) }}
<!--  {{ $c := index .Params.categories 0 }}
  <div class="same-category-posts-area">
    <h2>Posts in "{{ $c }}" category</h2>
    {{ $cposts := index .Site.Taxonomies.categories (lower $c) }}
    {{ range first 5 $cposts }}
    <div class="item same-height-row clearfix">
      <div class="image same-height-always">
          <a href="{{ .Permalink }}">
            {{ if isset .Params "banner" }}
              <img src="{{ .Params.banner | relURL }}" class="img-responsive" alt="{{ .Title }}">
            {{ else }}
              <img src="{{ "img/placeholder.png" | relURL }}" class="img-responsive" alt="{{ .Title }}">
            {{ end }}
          </a>
      </div>
      <div class="name same-height-always">
          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      </div>
  </div>
    {{ end }}
    {{ if gt (len $cposts) 5 }}
      <a class="more-btn" href="/categories/{{ lower $c }}/">more ...</a>
    {{ else }}
      <a class="more-btn" href="/categories/">other categories</a>
    {{ end }}-->
  </div>
{{ end }}
                        <!-- /#post-content -->
                        {{ if .Site.DisqusShortname }}
                    <!--    <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div> -->
                        {{ end }}

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
