<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>
          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
        {{ partial "breadcrumbs.html" . }}
        <div id="content">
            {{ if isset .Params "id" }}

              {{ partial .Params.id . }}
            
            {{ else }}

              {{ partial "legacysystem.html" . }}
                <!-- /.row -->

        </div>
            <!-- /.container -->

            {{ end }}
            <div id="page_top"><a href="#"></a></div>

        </div>
        <!-- /#content -->

        {{ partial "bottom-nav.html" . }}
        {{ partial "footer2.html" . }}


    </div>
    <!-- /#all -->
    {{ partial "scripts.html" . }}
  </body>
</html>
