<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>
          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

       <div id="content">
        {{ partial "breadcrumbs.html" . }}
            {{ if isset .Params "id" }}
              {{ partial .Params.id . }}
            {{ else }}
              {{ partial "thin-client.html" . }}
                <!-- /.row -->

              </div>
            <!-- /.container -->

            {{ end }}
            <div id="page_top"><a href="#"><i class="fas fa-3x fa-angle-up"></i></a></div>

        </div>
        <!-- /#content -->

        {{ partial "bottom-nav.html" . }}
        {{ partial "footer2.html" . }}


    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
