<div class="container" id="contact">


    <section>

        {{ .Content }}

        {{ if isset .Site.Params "email" }}

        <div class="heading">
          <main>
            <div class ="adaptb">
              <img class="img2" src="/img/adapt2t.jpg">
              <p>ISVのGO-Global導入事例</p>
            </div>
            <div class="general-content-wrapper max-width web-separation">
            <div class="general-content">
              <h2>アプリケーションを書き換えることなく<br>Web化（クラウド化）がすぐに実現</h2>
              <div class ="adapta">
               <h3>GO-Globalでアプリケーション改修の膨大なコストを抑えられた。</h3>
              </div>
              <div class = "col-md-12">
                <div class="col-md-3">
                  <div class="fadein">
                    <a href="/img/adapt201.jpg" data-lightbox="group1">
                    <img class="img2" src="/img/adapt201.jpg"width="300"></a>
                  </div>
                </div>
              <p>
                ISV(独立系ソフトウェア開発・販売会社)ベンダーの抱える課題クライアント/サーバ型でアプリケーションを提供しているベンダーは国内にかなり多く存在しています。
                それぞれのベンダーが抱えている共通の課題としてはアプリケーション改修に膨大なコストがかかるということです。一言でWeb化と言ってもクラウド型で提供するのか、ブラウザベースのアプリケーションで提供するのか、それぞれメリットデメリットを比較検討するのに膨大な時間がかかります。また利用するデバイスも様々あります。  </p>
              <div class ="adapta">
                <h3>プラットフォームを選ばないので、コストと時間をかけずに課題を解決</h3>
              </div>
              <div class = "col-md-12">  
                <div class="col-md-3 col-md-push-9">
                  <div class="fadein">
                    <a href="/img/adapt202.jpg" data-lightbox="group1">
                    <img class="img2" src="/img/adapt202.jpg"width="300"></a>
                  </div>
                </div>
                <div class="col-md-9 col-md-pull-3">
                <p>
                    これらの課題を自社内のリソースだけで解決するには多くの時間を要します。
                    GO-Global で、ISV（独立系ソフトウェア開発・販売会社）やASP （アプリケーションサービスプロバイダー）が現在販売中の
                    Windows、UNIX、Linuxアプリケーションを、すぐに、簡単に、コストをかけずに、Web化が可能になります。他のプラットフォームにもすぐに拡張できます。
                    時間とコストをかけずに新しいお客様にアプローチでき、売上が増やせる、これは、どの企業にとっても理想的なことではないでしょうか。
                    アプリケーションを書き換えることなく、Web化も、クロスプラットフォーム対応も実現できるのです。
                    しかも、アプリケーションの機能とブランドは100%保持できます。
                </p>
                </div>
              </div>
              <div class ="adapta">
                <h3>工数を減らし、スピーディに運用体制に入れるGO-Global</h3>
              </div>
              <div class = "col-md-12">
              <div class="col-md-3">
                <div class="fadein">
                  <a href="/img/adapt203.jpg" data-lightbox="group1">
                  <img class="img2" src="/img/adapt203.jpg"width="300"></a>
                </div>
              </div>
              <div class="col-md-9">
              <p>
                Fat-PC、タブレット、スマートフォン、クライアント/サーバシステムが主流だった頃に比べると様々な端末で確認作業を実施しないといけません。
                これにはかなりの工数を要します。
                しかしGO-Globalを利用すれば様々なプラットフォームで利用が可能になります。Windows Serverが稼働するクラウドなら制限事項がなく選べます。
                そしてADが必須ではないため、Workgroupでもクラウドにてサービスを開始することができます。
                クライアント側は、GO-Globalのクライアントプログラムかブラウザープラグインを実行させるだけです。
                アプリケーションを利用するユーザは、ローカルデバイスにインストールされたアプリケーションを実行しているような感覚で利用できます。
                </p>
              </div>
              </div>
              <div class = "col-md-12">
                <div class ="fadein">
                <div class="boxmatome">
                <div class="box-title">ISVでのGO-Global導入のポイント</div>
                <p><img class="icon1" src="/img/check.png" width="20" height="20">膨大なコストは必要ない</p>
                <p><img class="icon1" src="/img/check.png" width="20" height="20">プラットフォームは選ばない</p>
                <p><img class="icon1" src="/img/check.png" width="20" height="20">セキュリティは万全</p>
               </div>
              </div>
              </div>
            </div>
          </div>
         </main><!-- main -->


      </div>

      {{ end }}

    </section>



<div class="col-md-4">

    {{ if isset .Site.Params "address" }}
    <section>



    </section>

    {{ end }}

</div>

  <!-- /.row -->
</div>
