<div class="container" id="contact">


    <section>

        {{ .Content }}

        {{ if isset .Site.Params "email" }}

        <div class="heading">
          <main>
            <div class ="adaptb">
              <img class="img2" src="/img/adapt5/top.jpg">
              <p>九州の教育機関でGO-Global導入事例</p>
            </div>
            <div class="general-content-wrapper max-width web-separation">
                <div class="general-content">
                <h2>
                    教育現場の課題をクリアし、
                    （株）サスライト社製品SASTIKとGO-Globalの連携で教育現場の働き方改革を推進！
                    </h2>
                <div class ="adapta">
                <h3>教育現場でのシンクライアント化の壁</h3>
                </div>
                <div class = "col-md-12">
                    <div class="col-md-3">
                    <div class="fadein">
                        <a href="/img/adapt5/01.jpg" data-lightbox="group1">
                        <img class="img2" src="/img/adapt5/01.jpg"width="300"></a>
                    </div>
                    </div>
                    <p>
                    教育委員会や学校で利用されている校務システムは、クライアント/サーバ型か表計算ソフトのアプリのようなスタンドアローン型の
                    システムがまだまだ多いのが現状です。教職員の現場では、課題が山済みでリモート作業などは難しく働き方改革は遅れているといえるでしょう。
                    </p>
                    <div class = "col-md-12">
                        <p>
                            教育現場の改革を行うため、アプリケーションをリモートからセキュアに利用する目的で仮想化ソリューションを検討される教育現場も増えています。しかし、
                            以下の理由から検討の段階であきらめてしまう教育現場が多いのも実情です。
                        </p>
                        <p>①システムが複雑で導入検討まで時間がかかる</p>
                        <p>②高コストなソリューションが多い</p>
                        <p>③リモートワークを行うのに適切なセキュリティソリューションがない</p>
                    </div>
                    <div class ="adapta">
                    <h3>なかなか手が出せなかった仮想化ソリューションが低コストで実現</h3>
                </div>
                    <p>
                        セキュリティを確保しながら、いつでもどこでも職務が遂行できるようなテレワーク環境がなかなか構築できない状況でしたが、株式会社サスライト社製品SASTIKとGO-Globalの連携によって、
                        セキュリティは確保しながら、スズキ校務システムのクラウド化がすぐに可能になります。
                    </p>
                    </div>
                <div class = "col-md-12">
                <div class="col-md-3">
                    <div class="fadein">
                    <a href="/img/adapt5/02.jpg" data-lightbox="group1">
                    <img class="img2" src="/img/adapt5/02.jpg"width="300"></a>
                    </div>
                </div>
                <div class="col-md-9">
                <h5>導入後素早く課題解決ができる</h5>
                    <p>
                    株式会社サスライト社製品SASTIKとGO-Globalの組み合わせソリューションは非常にシンプルなため構築に要する期間は他ソリューションと比べ段違いにスピーディに設定できました。
                    そのため導入後すぐに業務に組み込むことができるので、現場の素早い課題解決に役立ちました。
                    </p>
                </div>
              </div>
                <div class = "col-md-12">  
                    <div class="col-md-3 col-md-push-9">
                        <div class="fadein">
                        <a href="/img/adapt5/03.jpg" data-lightbox="group1">
                        <img class="img2" src="/img/adapt5/03.jpg"width="300"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-pull-3">
                    <h5>全員分のライセンス購入は必要なし</h5>
                    <p>
                    GO-Globalは同時接続ライセンスでの課金が可能でした。
                    どういった事かというと、システムを同時に利用する人数分だけのライセンス購入でOKなんです。
                    使用頻度は、人によって違うので、全員分ライセンス購入する必要がなかったのはコストが大きく削減できとても助かりました
                    </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fadein">
                    <a href="/img/adapt5/04.jpg" data-lightbox="group1">
                    <img class="img2" src="/img/adapt5/04.jpg"width="300"></a>
                    </div>
                </div>
                <div class="col-md-9">
                <h5>USB一つでシンクライアント化</h5>
                    <p>
                        SASTIKはUSBを挿せば利用中の端末がすぐにシンクライアントになります。これは、非常に優れたセキュリティソリューションだと感じました。また、認証サーバで認証を行わないと業務が行えない仕組みが実装されているので簡単ですが、セキュリティ面でも安心です
                        暗号化通信機能も標準実装されていますので専用のSSL-VPN装置を購入する必要がなくリモート接続が可能になりました。
                    </p>
                </div>
                
                <div class ="adapta">
                    <img class="img2" src="/img/adapt5/05.png">
                    </div>
                    <div class ="adapta">
                     <h3>株式会社サスライト社製品SASTIKとGO-Globalの画像イメージ</h3>
                    </div>
                    <div class ="adaptb">
                        <img class="img2" src="/img/adapt5/06.png">
                    </div>
                    <br>
                    <div class ="adaptb">
                        <img class="img2" src="/img/adapt5/adaptation-facility-2.5.png">
                    </div>
    
              </div>
             
            
            

              <div class = "col-md-12">
                <div class ="fadein">
                <div class="boxmatome">
                <div class="box-title">教育機関でのGO-Global導入のポイント</div>
                <p><img class="icon1" src="/img/check.png" width="20" height="20">教育現場での課題を素早く解決</p>
                <p><img class="icon1" src="/img/check.png" width="20" height="20">複雑なシステムは一切なし</p>
                <p><img class="icon1" src="/img/check.png" width="20" height="20">セキュリティは万全</p>
               </div>
              </div>
              </div>
            </div>
          </div>
         </main><!-- main -->


      </div>

      {{ end }}

    </section>



<div class="col-md-4">

    {{ if isset .Site.Params "address" }}
    <section>



    </section>

    {{ end }}

</div>

  <!-- /.row -->
</div>
