<section class="bar background-image-fixed-7 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
              </div>-->
              <h1>高いスピードとシンプルな操作性で医療現場の生産性がアップ</h1>
              <br>
              <h2 class="text">GO-Globalで生産性が格段にアップ。<br>患者様へのサービス向上につながりました。</h2>
          </div>
      </div>
  </div>
</section>
<div class="container" id="contact">


      <section>
          {{ if isset .Site.Params "email" }}

          <div class="heading">
            <main>

              <div class="general-content-wrapper max-width web-separation">
              <div class="general-content">

                <div class ="adapta">
                 <h3>某大学病院のアプリケーションの課題</h3>
                </div>
                <p>
                  医療アプリケーションは専門性が高く運用もとても複雑です。
                  アプリケーションを実行するには高機能なPCが必要となりますが、
                  高機能PCは故障やトラブルも多くメンテナンスに時間を取られることが多々ありました。
                  メンテナンスの間、仕事が進まなかったり作業を中断せざるを得ませんでした。
                  そのことで、医師・看護師・介護士の生産性が落ちて、
                  患者様へのサービスが低下していました。
                </p>
                <div class ="adapta">
                  <h3>医療には欠かせない高解像度画像表示が実現</h3>
                </div>
                <div class = "col-md-12">  
                  <div class="col-md-3 col-md-push-9">
                    <div class="fadein">
                      <a href="/img/adapta01.png" data-lightbox="group1">
                      <img class="img2" src="/img/adapta01.png"width="300"></a>
                    </div>
                  </div>
                  <div class="col-md-9 col-md-pull-3">
                  <p>
                    医師・看護師・介護士の生産性を向上させ、最大限の時間を患者様への治療に割り振り、
                    患者様へサービス向上を図ることが私たちの最大の課題でした。
                    それを実現するため以下が可能なシステムを作ることを目標にしました。   </p>


                      <p> (1)ネットワークに負荷をかけない </p>
                     <p>  (2)セキュリティーを強化 </p>
                      <p> (3)運用管理のコストを低減 </p>


                    
   <p>

                    いくつものテストを経て検討した結果、コストという点では仮想化の方式で集中管理(SBC)の構成を採用し、ライセンスは同時接続ユーザーが可能なGO-Globalを選択しました。
                  </p>


                  </div>
                </div>
                <div class ="adapta">
                  <h3>今までかなわなかった、技術的な課題がGO-Globalで解決！</h3>
                </div>
                <div class = "col-md-12">
                <div class="col-md-3">
                  <div class="fadein">
                    <a href="/img/adapta02.jpg" data-lightbox="group1">
                    <img class="img2" src="/img/adapta02.jpg"width="300"></a>
                  </div>
                </div>
                <div class="col-md-9">
                <p>
                  既存の汎用プロトコルであるRDPを使用している他社ソリューションと異なり、
                  GO-Globalは特許取得しているRXPプロトコルを使用していました。
                  独自プロトコルでかつ高いパフォーマンスを持つ
                  Go-Globalは世の中に広く存在するRDPハッキングツールでアクセスすることができないので、
                  そこも大変信頼をおいています。
                </p>
                <p>
                  そして4レベルのSSLセキュリティー(56 bit から256 bit AES)を組み込んでいるため
                  サードパーティ製品無しで高いレベルの認証を可能にしています。
                  全てのデーター転送にひとつのTCPポートしか使用していないので守るべきポートはひとつということもあり、
                  セキュリティー対策も万全だと感じました。
                </p>
                </div>
                </div>
                <div class ="adapta">
                  <h3>圧倒的なログインスピードとシンプルな操作性が作業効率の向上に繋がった</h3>
                </div>
                <div class = "col-md-12">
                <div class="col-md-3 col-md-push-9">
                  <div class="fadein">
                    <a href="/img/adapta03.jpg" data-lightbox="group1">
                    <img class="img2" src="/img/adapta03.jpg"width="300"></a>
                  </div>
                </div>
                <div class="col-md-9 col-md-pull-3">
              <p>
                GO-Globalからのログイン時間は15秒。この数字は1ユーザーのみの数値ではなく1サーバに100ユーザー以上がログインして作業を行っていても変わらない数値でした。
                GO-Globalは、システム管理者にとってユーザーにアプリケーションを配信する行為が簡単なタスクです。さらに、ワンクリックのインストレーション、直感的なGUIなど機能性がとてもシンプルでです。
                医療業界において時間は命にかかわる問題でもあります。ログインのスピード、シンプルな操作のおかげで、医療従事者がサービスに専念する時間を捻出するとこができました。
              </p>
              </div>
                </div>
                <div class ="adapta">
                  <h3>医療現場はクロスプラットフォーム。コストをかけずにすべての端末から実行化可能に。</h3>
                </div>
                <div class = "col-md-12">
                  <div class="col-md-3">
                    <div class="fadein">
                      <a href="/img/adapta04.jpg" data-lightbox="group1">
                      <img class="img2" src="/img/adapta04.jpg"width="300"></a>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <p>
                     医療現場ではアプリケーションはWindowsをはじめとする様々なOS上で実行されており、1つのプラットフォームに集約されていません。GO-Globalは様々なプラットフォームに対応しているため異なる他のプラットフォーム上で動作しているアプリケーションにもシームレスにアクセスが出来ます。
                     GO-Globalは使いやすく、しかも医療アプリケーションをどんな場所にも効率よく配信する機能とパワーを提供してくれました。
                    </p>
                  </div>
                </div> 
                <div class = "col-md-12">
                  <div class ="fadein">
                  <div class="boxmatome">
                  <div class="box-title">医療機関でのGO-Global導入のポイント</div>
                  <p><img class="icon1" src="/img/check.png" width="20" height="20">高解像度画像表示が実現</p>
                  <p><img class="icon1" src="/img/check.png" width="20" height="20">セキュリティー強化</p>
                  <p><img class="icon1" src="/img/check.png" width="20" height="20">運用コスト大幅カット</p>
                  <p><img class="icon1" src="/img/check.png" width="20" height="20">ログインスピードの向上で現場の生産性アップ</p>
                </div>
                </div>
                </div>
              </div>
            </div>
           </main><!-- main -->


        </div>

        {{ end }}

      </section>



  <div class="col-md-4">

      {{ if isset .Site.Params "address" }}
      <section>



      </section>

      {{ end }}

  </div>

    <!-- /.row -->
</div>
