
  <section class="bar background-image-fixed-25 no-mb color-white text-center">

  <div class="dark-mask"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <h1 class="text-uppercase">
           BCP感染症対策と在宅（テレワーク）勤務はセットで考えると効率的
        </h1>
      </div>
    </div>
  </div>
  </section>
  <div class="container" id="contact">
  <section>
    {{ if isset .Site.Params "email" }}
    <div class="heading">
      <main>
        <div class="general-content-wrapper max-width web-separation">
        <div class="general-content">
            <p>
              2020年新型コロナウイルス対策の特別措置法に基づき「緊急事態宣言」が出されました。生活や社会活動は一変。企業はテレワークや時差出勤による対応を余儀なくされました。
            </p>
            <p>
              多くの企業や組織が感染対策用のマニュアルなどが無いまま、急きょ対応したのが現状だったのではないでしょうか？また、BCP災害対策はしていたが感染症に関しては対策をしていなかった。といった企業さんの話も見受けられました。いつまた感染症が広がるかわかりません。その際にスムーズに事業継続を行うためにも、BCP感染症対策をより強固に策定し、実際のまん延時にスムーズに事業を継続できる環境を用意する必要があるでしょう。
            </p>
            <p class="list">
            <a href="#1">1.BCP（事業継続計画）とは？</a><br>
            <a href="#2">2.BCPを策定していないとこんなリスクが発生</a><br>
            <a href="#3">3.災害対策と感染症対策の大きな違い</a><br>
            <a href="#4">4.BCP感染症対策を作成する時の流れ</a><br>
            <a href="#4-1">&emsp;4-1.BCPの基本方針の作成、感染症想定レベルの設定</a><br>
            <a href="#4-2">&emsp;4-2.重要な業務の書き出し</a><br>
            <a href="#4-3">&emsp;4-3.感染症状況の指標と自社の対応表の作成</a><br>
            <a href="#4-4">&emsp;4-4.従業員への備品配布や、感染予防や感染した従業員への対応</a><br>
            <a href="#4-5">&emsp;4-5.従業員へ感染症対策の内容を周知させる</a><br>
            <a href="#4-6">&emsp;4-6.様々な感染症流行した場合を想定し更新やチェックを定期的に行う</a><br>
            <a href="#5">5.BCP対策をしつつ、通常時でも在宅勤務が上手くいく方法</a><br>
            </p>
            <img class="img2" src="/img/M10_Moment-e1599022347879.jpg" alt="" width="100%" />
            <p>
              実際に災害対策と感染症対策はどういった事が違うのでしょうか？その前にBCP（事業継続計画）のついて簡単に説明します。
            </p>
              <div id = '1'>	
                <h2>1.BCP（事業継続計画）とは</h2>
                <p>
                  BCPとは「Business Continuity Plan」の頭文字を取ったもので、企業のリスク管理のひとつです。
                </p>
                <p>
                  具体的な内容としては、自然災害や事件、感染症のまん延などで、業務が停止するような状況において、被害を最小限に食い止め、核となる事業を継続し、いち早く全体を復旧するため運営方針や対応体制をまとめた計画のことをBCP（事業継続計画）言います。
                </p>
              </div>
              <div id = '2'>
              <h2>2.BCPを策定していないとこんなリスクが発生</h2> 

                <img class="img2" src="/img/risk03.png" alt="" width="100%" />

                <h3>機会損失</h3>
                <p>
                  災害からの復旧に時間がかかると、企業活動が停止。停止期間が長ければ長いほど多大な損失が発生します。機会損失による売上や利益の減少を、最小限におさえる必要があります。
                </p>
                <h3>■企業の信頼低下</h3>
                <p>
                  災害や、感染症、事故などがあった際に、供給できない状態が続くと、取引先にも多大な損害が出てしまいます。また、そのような事態に備えているかどうかも契約前に重要な指標になる場合もあります。お客様が、安心して取引できるように事前にBCP対策を策定しておきましょう。
                </p>
                <h3>■従業員の安全が損なわれる</h3>
                <p>
                  企業は従業員を「安全に働ける」環境を整え、対策を行う責任があります。
                  それを、安全配慮義務といい労働契約法に定められています。
                </p>
              </div>

              <div id = '3'>
                <h2>3.災害対策と感染症対策との大きな違い</h2>
                <img class="img2" src="/img/kansai.png" alt="災害感染症の違い" width="100%" />
                <p>
                  地震の場合、従業員が出勤困難となるため、「人」の確保がとても難しくなります。感染症の場合、建物、設備などの物的資源における被害はありません。また、電気、水道、ガス、通信などのインフラは、維持されていると想定されます。
                </p>
                <p>
                  しかし、感染症の場合は、被害が広域に及びます。海外との取引、帰国、出張、外国人従業員などの一時帰国滞留などの対応を協議してく必要があります。被害想定も併せて考えていく必要があります。
                </p>
              <div>
              <img class="img2" src="/img/hyou01.png" alt="災害感染症の違い表" width="100%" />
              <p>
                新型インフルエンザと地震との違い（厚生労働省「事業者・職場における新型インフルエンザ等対策ガイドライン」にインターリスク総研が加筆）
              </p>
                <p style="padding-left: 40px;">
                  <a href="https://www.mhlw.go.jp/file/06-Seisakujouhou-10900000-Kenkoukyoku/0000108618.pdf">出典：社会福祉施設・事業所における新型インフルエンザ等発生時の業務継続ガイドライン</a>
                  <a href="https://www.shigotozaidan.or.jp/koyo-kankyo/boshu/kinkyutaisaku.html"><i class="fas fa-external-link-alt"></i></a>
                </p>
              </div>
              <p>また、災害と感染症の違いを踏まえると、業務へ影響する推移も異なってきます。以下の図をご覧ください。</p>
              <img class="img2" src="/img/bcp-sai-kan.jpg" alt="災害と感染症の違い" width="100%" />
              <p style="padding-left: 40px;"><a href="https://www.mhlw.go.jp/file/06-Seisakujouhou-10900000-Kenkoukyoku/0000108618.pdf">出典：株式会社インターリスク総研</a>　<i class="fas fa-external-link-alt"></i></p>
              
              <p>
                災害の場合、インフラの停止や休止、安否確認、物理的な被害により通常の業務量が急減します。その後の業務回復も急激に平常値に戻るのが特徴です。感染症の場合、感染が拡大し始めると出勤停止、自身が感染、家族が感染した際の看病などで、出勤できなくなる人がジワジワと出てきます。
              </p>
              <p>
                そのため、通常業務がまったく出来なくなるわけではなく、対応可能な業務量が徐々に限られてくる状態になります。そこで、BCP感染症対策では「不要不急の業務から順次休止・縮小し、感染のピーク時でも優先業務は最低限継続させる」ことが目的となるので、対策も変わってきます。
              </p>
            </div>
            <div id = '4'>
              <h2>4.BCP感染症対策を作成する流れ</h2>
              <img class="img2" src="/img/nagare.png" alt="BCP感染症対策を作成する流れ" width="100%" />

            <div id = '4-1'>
              <h3>4-1.BCPの基本方針の作成、感染症想定レベルの設定</h3>
              <p>
                「なぜ、BCP感染症対策を作成するのか」をしっかり提言して作成しましょう。基本方針が無いと策定内容が、ブレたり優先順位が付けづらくなってしまいます。「どれくらいの規模の感染症なのか？」を設定しておきましょう。規模によって、対策が変わってきますので、イメージを数値や状況をリアルに設定しておきましょう。
              </p>
              <div class="list" style="color:black; background-color:#d5e9ed; padding: 15px">	
                <p><b>例</b></p>
                <p>【政府想定（重度のケース）】</p>
                <p>発症者数：3,200 万人（全人口の 25%）、受診患者数：1,300万人～2,500万人、入院患者数：～ 200 万人、死傷者数：約 64 万人（致死率 2%）、欠勤率：最大 40%</p>
                <p>など、上記のように想定ケースを設定しておきましょう。</p>
              </div>
            </div>
            <div id = '4-2'>
              <h3>4-2.重要な業務の書き出し</h3>
              <img class="img2" src="/img/araidashi.jpg" alt="" width="250" height="167" />
              <p>
                感染症を想定したBCP対策は<b>「どの業務を休止するか」</b>がポイントになってきます。また、1人の従業員が、いくつかの業務をこなせるようにクロストレーニング（従業員が複数の重要な業務を実施できるようにし 欠勤者が出た場合に代替要員として業務ができるようにしておくこと）を行っておくと良いでしょう
              </p>
              <p>
                BCP感染症対策の策定を通して自社にとって本当に必要な事業、力を入れるべき事業が明らかになります。経営戦略の再考にも繋がりますのでこの機会にしっかりと検討しましょう。
              </p>
            </div>
            <div id = '4-3'>
            <h3>4-3.感染症レベルに指標に沿った対応を作成</h3>
            <p>
              感染症が広がった際どのレベルで自社がどんな対応をしていくのか。といった指標は大変重要になってきます。判断を間違うと、事業継続どころか、従業員が感染のリスクにさらされることとなります。
            </p>
            <div>
            <h4>例：新型コロナの感染症状況の指標</h4>
            <p>
              以下は、新型コロナの場合の感染状況の指標です。4つのステージでまとまられています。また、地方では違う基準なども設けられていますので自社にあったステージをあらかじめ想定しておく必要があります。
            </p>
            <img class="img2" src="/img/bunka.jpg" alt="新型コロナ4つのステージ" width="100%" />
            <p style="padding-left: 40px;"><a href="https://www.cas.go.jp/jp/seisaku/ful/kongo_soutei_taisaku.pdf">出典：新型コロナウイルス感染症対策分科会提言</a>　<i class="fas fa-external-link-alt"></i>	
            </p>
            </div>

            <div>
            <h4>例：インフルエンザの感染状況の指標</h4>
            <img class="img2" src="/img/stage-in.gif" alt="インフルエンザの感染状況の指標" width="100%" />
            <p style="padding-left: 40px;"><a href="https://www.mhlw.go.jp/file/06-Seisakujouhou-10900000-Kenkoukyoku/0000108618.pdf">出典：業務継続ガイドライン　<i class="fas fa-external-link-alt"></i>	</a>　
            <a href="https://www.mhlw.go.jp/file/06-Seisakujouhou-10900000-Kenkoukyoku/0000108618.pdf"></a></p>
            <p>今後どのような感染症が、まん延するかわかりません。社内でインフルエンザのステージや今回のコロナを参考に、会社独自で発令するステージと項目、詳細を取り決めておきましょう。</p>
            </div>

            <div>
            <h4>例：感染症状況の指標と自社の対応表の作成</h4>            
            <img class="img2" src="/img/stage.png" alt="感染症状況の指標と自社の対応表の作成" width="100%" />
            <p>
              感染症に合わせ<b>「どのステージで」</b>会社が<b>「どのような対応」</b>をとっていくのか。を事前に定めておくことにより、社内の混乱や、取引先への影響を最小限に抑えることができます。
            </p>
            </div>
            <div id = '4-4'>
            <h3>4-4.従業員への備品配布や、感染予防や感染した従業員への対応</h3>
            <h4>種類や備品の目安の書き方</h4>
            <img class="img2" src="/img/list.png" alt="従業員へのマスクや手洗い備品などのチェック感染した従業員への対応" width="100%" />
            <p>どういった備品をどの部署に何種類用意する。など具体的に記載します。第二波の到来や、長期的な確保を予定して計画的に備品などを用意しましょう。</p>
            <p style="padding-left: 40px;">
              <a href="https://www.chusho.meti.go.jp/bcp/influenza/download/bcpshingatainful_all.pdf">
              出典：新型インフルエンザ対策のための中小企業 BCP(事業継続計画)策定指針<i class="fas fa-external-link-alt"></i></a><br>
              上記リンク先P28【参考３】 企業における備蓄品リストを参照ください。
            </p>
      
            <h4>感染拡大を防ぐ社内チェックリスト</h4>
            <p>
              従業員への感染防止策の徹底や、取引先、お客様へのルールなどを定めたチェックリストを作成しておきましょう。
            </p>
            <img class="img2" src="/img/check2.png" alt="感染拡大を防ぐ社内チェックリスト" width="489" height="429" class="size-full wp-image-1790 alignleft" />
            <p style="padding-left: 40px;">
              <a href="https://www.mhlw.go.jp/content/11302000/000630736.pdf">出典：新型インフルエンザ対策のための中小職場における新型コロナウイルス感染症の拡大を防止するためのチェックリスト              <i class="fas fa-external-link-alt"></i>
              </a>	
            </p>
          </div>
            <div id = '4-5'>
              <h3>4-5.従業員へ感染症対策の内容を周知させる</h3>
              <img class="img2" src="/img/colleagues-1-e1599117399467.jpg" alt="" width="250" height="167" />
              <p>
                BCPを策定していても、従業員に周知していなければ、実際のパンデミックの際に機能することができません。事前の周知と、訓練や教育も行いましょう。
              </p>
            </div>
            <div id = '4-6'>
              <h3>4-6.様々な感染症流行した場合を想定し更新やチェックを定期的に行う</h3>
              <img class="img2" src="/img/1599117707832.jpg" alt="" style="width:600px;"/>
              <p>
                策定したBCP対策は、定期的に見直しましょう。感染症の流行はいろいろな種類が想定されます。感染症によっては、「回復期まで時間がかかる」「感染率が高い」など、感染症によって状況は様々です。その都度しっかり見直して従業員へ周知しておくのをお勧めします。
              </p>
            </div>
            <div class="boxmatome">
            <h2>コラム</h2>
            <h3>企業は、実際テレワークや在宅勤務を実行し継続をしている状態なのだろうか？</h3>
            <p>
              約70%の企業が在宅、リモートを未実施
            </p>
            <p>
              2020年の7月に行った調査によると、「実施したが取りやめた」「1度も実施しなかった」といった企業を合せると約70%の企業がいまでは在宅、リモートを行っていないことになります。
            </p>
            <img class="img2" src="https://www.kitasp.com/wp-content/uploads/2020/09/tokyo-5.png" alt="" width="100%" />
            <p style="padding-left: 40px;">
              <a href="https://img03.en25.com/Web/TSR/%7B87991d73-6466-4cbd-8071-07b5a5428ce4%7D_20200714_TSRsurvey_CoronaVirus.pdf">出典：東京商工リサーチ調べ2020年7月14日発表<i class="fas fa-external-link-alt"></i></a>	
            </p>
            <p>
              緊急事態宣言を受け一時的に対応したが、テレワークや在宅勤務の仕組みを活かしている組織は少ないようです。
            </p>
            </div>
            <p>
              では、策定書が完成したものの、実際に感染症がまん延した際、対策通り業務ができるのかは心配かと思います。感染症がまん延した際にスムーズにテレワークができる体制を作り業務を止めない組織体制を作ることがと得策と言えます。
            </p>
            <div id = '5'>
              <h3>5.BCP対策をしつつ、通常時でも在宅勤務が上手くいく方法</h3>
              <h4>GO-Globalを活用すればBCP対策と在宅勤務両方を賢く運用できます</h4>
              <img class="img2" src="/img/goglobal02.png" alt="テレワークや在宅勤務の仕組みを活かしている組織" width="100%" />
              <p>
                GO-Globalサーバ側でアプリケーションを実行し、クライアント端末側で操作を行うシンプルな概念のミドルウェアです。一般に「シンクライアント」として分類されています。このGO-Global活用することで、データーをサーバーで一元管理し、業務用のアプリを操作、ファイルの共有なども行うことができます。</p>
            <p>そんなGO-Globalの仕組み</p>
            <p>&#10004; シンプル</p>
            <p>&#10004; 低コスト</p>
            <p>&#10004; スピィーディー</p>
            <p>
              GO-Globalは社内の専用業務システムやアプリケーションを、セキュリティ高く遠隔で操作できます。デバイスを選ばないので、緊急の際つながる端末で対応可能なのも心強いポイントです。
            </p>
            <img class="img2" src="/img/function01.jpg" alt="デバイスを選ばない" width="100%" />
            <p>GO-Globalなら普段・在宅ワーク・テレワークなどに利用し、緊急の際はそのまま業務を止めることなくスムーズに対応することが可能です。社内にサーバーを立ててオンプレミスで運用。また、BCP災害対策として、クラウド事業社と協力し東日本で環境を構築。西日本へのミラーリング処理を行う構成も実現できました。</p>
            <p>また、災害を想定した切り替え試験も実施し、問題がないことも証明されました。GO-Globalはシンプルな構成なので、試験実施までは2週間もせずに検証が完了しています。</p>
            <img class="img2" src="/img/adaptation-facility-5.3.png" alt="" width="100%" />
            </div>
            <div class="boxmatome">
              <div class="box-title">まとめ</div>
              <p>
                いざと言うときの為だけに、高額なシステムやソリューションを用意するのは現実的ではありません。しかし、普段から使っているシステムがいざと言うときに本領を発揮できる状態になっていればコストをかけてでも導入する価値があると言えるでしょう。
              </p>
              <p>
                GO-Globalについては、<a href="https://www.kitasp.com/contact/"target="_blank"rel="noopener">コンタクトフォーム</a>よりお気軽にお問い合わせてください。担当のエンジニアが対応させていただきます。
              </p>
            </div>
            <div>
            <p>参考資料</p>
            <p>33ページからBCP 業務別作成事例が掲載されています。<p>
            <a href="https://www.mhlw.go.jp/file/06-Seisakujouhou-10900000-Kenkoukyoku/0000108618.pdf">出典：業務継続ガイドライン</a><i class="fas fa-external-link-alt"></i>

            <p>策定のアウトプットイメージは以下をご参考ください。</p>

            <p>
              <a href="https://www.chusho.meti.go.jp/bcp/download/bcppdf/bcpguide_sample1.pdf">サンプル（入門コース、製造業）</a><i class="fas fa-external-link-alt"></i>
            </p>

            <p>
              <a href="https://www.chusho.meti.go.jp/bcp/download/bcppdf/bcpguide_sample2.pdf">サンプル（入門コース、サービス・小売業）</a><i class="fas fa-external-link-alt"></i>
            </p>
            <p>
              <a href="https://www.chusho.meti.go.jp/bcp/download/bcppdf/bcpguide_sample3.pdf">サンプル（入門コース、運送業）</a><i class="fas fa-external-link-alt"></i>
            </p>
            <p>
              <a href="https://www.chusho.meti.go.jp/bcp/download/bcppdf/bcpguide_sample4.pdf">サンプル（入門コース、飲食・宿泊業）</a><i class="fas fa-external-link-alt"></i>
            </p>
            <p>
              <a href="https://www.chusho.meti.go.jp/bcp/download/bcppdf/bcpsample_a.pdf">サンプル（基本コース）</a><i class="fas fa-external-link-alt"></i>
            </p>
            <p>
              <a href="https://www.chusho.meti.go.jp/bcp/download/bcppdf/bcpsample_b.pdf">サンプル（中級コース）</a><i class="fas fa-external-link-alt"></i>
            </p>
            <p>出典：中小企業庁</p>
            </div>
                  </div>
        </div>
        </main><!-- main -->
        </div>
        {{ end }}

  </section>
        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}
        </div>
    <!-- /.row -->
  </div>
