{{- define "breadcrumbs" }}
  {{- if .node.Parent }}
    {{- template "breadcrumbs" (dict "node" .node.Parent "start" .start) }}
  {{- else if not .node.IsHome }}
    {{- template "breadcrumbs" (dict "node" .node.Site.Home "start" .start) }}
  {{- end }}

  {{- if eq .node .start }}
    <li>{{ .node.LinkTitle }}
      {{- else if .node.IsHome }}
      <li><a href="{{ .node.Permalink }}">HOME</a>
    
      {{- else }}
    <li><a href="{{ .node.Permalink }}">{{ .node.LinkTitle }}</a>
  {{- end }}

{{- end }}
<ol class="breadcrumb">
  {{- template "breadcrumbs" (dict "node" . "start" .) }}
</ol>