
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="goglobal">
                            <img class="img-responsive" src="/img/carousel/goglobal.jpg" alt=""> 
                            <a href="./function-introduction/" class="btn btn-template-main">GO-Globalについて詳しく見る</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tele">
                            <img class="img-responsive" src="/img/carousel/tele.jpg" alt="">
                            <a href="./case-study" class="teletext">柔軟な働き方を目指す<br>中小企業やテレワークや<br>リモートワークの<br>導入支援をいたします。</a>
                            <a href="./case-study" class="btn btn-template-main">テレワークについて詳しく見る</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="casepic">
                            <img class="img-responsive" src="/img/carousel/case.jpg" alt="">
                            <a href="./adaptation-facility-5/">導入事例<br>病院、学校、ソフトウエアのクラウド化、中小企業</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="websepa">
                            <img class="img-responsive" src="/img/carousel/websep.jpg" alt="">
                            <div class="">
                            <a href ="./web-separation" class="btn btn-template-main">インターネット分離について詳しくみる</a>
                            </div>
                            <p href ="./web-separation">情報セキュリティを対策を強化<br>情報漏洩や外部攻撃を</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- /.project owl-slider -->

        </div>
    </div>
</section>
