{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title | markdownify }}</h2>
                </div>
                <div style="text-align:center;">
                    <p>
                      株式会社オーレンス/株式会社クリエイティブ・コンサルタント/株式会社サンコー情報システム株式会社アクト<br>
                      株式会社アスペックス/株式会社アレックスマネジメント/石田データサービス株式会社/インフォメーションサービスフォース株式会社<br>
                      三菱電機インフォメーションネットワーク株式会社/株式会社内田洋行ITソリューションズ/株式会社エスアイプロダクト<br>
                      キーウェアソリューションズ株式会社/北日本コンピューターサービス株式会社<br>
                      キヤノンエスキースシステム株式会社/株式会社KSK/株式会社Funkit/株式会社グローバル・アドバンス<br>
                      株式会社サスライト/株式会社サテライトテクノロジーズ/株式会社サンクレエ/株式会社シスプラ<br>
                      情報技術開発株式会社/株式会社センチュリー・システムズ/ソフト総研株式会社/株式会社ダブルシャーププラス<br>
                      株式会社テクニカル・ユニオン/株式会社ティエスイー/日本流通ソフト株式会社/株式会社パスコ<br>
                      株式会社ビジネスアプリケーション/株式会社ヒューマンウェア/株式会社Hoster-JP/株式会社ジオインフォシステム<br>
                      有限会社ネットブルーム/株式会社イーセクター/株式会社オプテージ/セコム山陰株式会社<br>
                      東亜ソフトウェア株式会社/株式会社日立ソリューションズ西日本/株式会社オーシーシー/株式会社JMUシステムズ
                    </p>
                  </div>
                
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
