{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title | markdownify }}</h2>
                </div>
                <div class="client_out">
                  <ul class="clients">
                    <li>株式会社オーレンス/</li>
                    <li>株式会社クリエイティブ・コンサルタント/</li>
                    <li>株式会社サンコー情報システム/</li>
                    <li>株式会社アクト/</li>
                    <li>株式会社アスペックス/</li>
                    <li>株式会社アレックスマネジメント/</li>
                    <li>石田データサービス株式会社/</li>
                    <li>インフォメーションサービスフォース株式会社/</li>
                    <li>三菱電機インフォメーションネットワーク株式会社/</li>
                    <li>株式会社内田洋行ITソリューションズ/</li>
                    <li>株式会社エスアイプロダクト/</li>
                    <li>キーウェアソリューションズ株式会社/</li>
                    <li>北日本コンピューターサービス株式会社/</li>
                    <li>キヤノンエスキースシステム株式会社/</li>
                    <li>株式会社KSK/</li>
                    <li>株式会社Funkit/</li>
                    <li>株式会社グローバル・アドバンス/</li>
                    <li>株式会社サスライト/</li>
                    <li>株式会社サテライトテクノロジーズ/</li>
                    <li>株式会社サンクレエ/</li>
                    <li>株式会社シスプラ/</li>
                    <li>情報技術開発株式会社/</li>
                    <li>株式会社センチュリー・システムズ/</li>
                    <li>ソフト総研株式会社/</li>
                    <li>株式会社ダブルシャーププラス/</li>
                    <li>株式会社テクニカル・ユニオン/</li>
                    <li>日本流通ソフト株式会社/</li>
                    <li>株式会社パスコ/</li>
                    <li>株式会社ビジネスアプリケーション/</li>
                    <li>株式会社ヒューマンウェア/</li>
                    <li>株式会社Hoster-JP/</li>
                    <li>株式会社ジオインフォシステム/</li>
                    <li>有限会社ネットブルーム/</li>
                    <li>株式会社イーセクター/</li>
                    <li>株式会社オプテージ/</li>
                    <li>セコム山陰株式会社/</li>
                    <li>東亜ソフトウェア株式会社/</li>
                    <li>株式会社日立ソリューションズ西日本/</li>
                    <li>株式会社オーシーシー/</li>
                    <li>株式会社JMUシステムズ/</li>
                  </ul>
                  </div>
                
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
