<main>
    <div class="general-content-wrapper max-width company-information">
        <div class="general-content">
            <h1>企業概要</h1>
        <style>
                table {
                  width:100%;
                }
    
                table, th, td {
                  border: 1px solid black;
                  border-collapse: collapse;
                  vertical-align:top;
                  padding: 8px;}
               </style>
            <table>
                <tbody>
                    <tr>
                        <th>社名</th>
                        <td>株式会社きっとエイエスピー</td>
                    </tr>
                    <tr>
                        <th>設立</th>
                        <td>2000年11月6日</td>
                    </tr>
                    <tr>
                        <th>資本金</th>
                        <td>9,000万円</td>
                    </tr>
                    <tr>
                        <th>決算期</th>
                        <td>12月</td>
                    </tr>
                    <tr>
                        <th>代表者</th>
                        <td>代表取締役社長　　岩室　圭一</td>
                    </tr>
                    <tr>
                        <th>従業員数</th>
                        <td>12人（2018年11月現在）</td>
                    </tr>
                    <tr>
                        <th>事業内容</th>
                        <td>海外の先端的IT技術製品の輸入・販売、並びに製品の導入運用支援<br />
                            関連製品を利用したクラウドサービスの開発
                        </td>
                    </tr>
                    <tr>
                        <th>本社所在地</th>
                        <td>
                            <div class="location">
                                <div class="text">
								    株式会社　きっとエイエスピー<br />
                                    〒102-0083東京都千代田区麴町5-3-3<br />
                                    麴町KSスクエア6階<br />
                                    <br />
                                    電話  : 03-3350-9300<br />
                                    FAX   : 03-3263-3088<br />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>主要取引銀行</th>
                        <td>三菱東京UFJ銀行 　四谷支店<br />
                            りそな銀行　　　　早稲田支店<br />
                            三井住友銀行　　　新宿支店<br />
                        </td>
                    </tr>                    
                </tbody>
            </table>
                <br />
				<div class="mapouter"><div class="gmap_canvas"><iframe width="800" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%E9%BA%B4%E7%94%BAKS%E3%82%B9%E3%82%AF%E3%82%A8%E3%82%A2&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:800px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:800px;}</style></div>
				</div>
		</div>
    </div>
</main>