<div class="container" id="contact">



 <img class="img2" src="../img/contact_top.png" width="1145">



            <div class="heading">
<h2>GO-Global（ゴーグローバル）とは</h2>

<p>GO-Globalはプレゼンテーション層（およびセッション層）の仮想化技術で、一般に「シンクライアント」として分類される技術製品です。サーバーに利用したいアプリケーションをインストールし、クライアント側へアプリケーションを配信します。</p>






<a href="../img/gg.png" target="_blank"><img class="img2" src="../img/gg.png" width="1145" alt="" border="0"></a>

<h2>GO-Globalで実現できること</h2>





<a href="../img/lp01.png" target="_blank"><img class="img2" src="../img/lp01.png" width="1145" alt="" border="0"></a>
<a href="../img/lp02.png" target="_blank"><img class="img2" src="../img/lp02.png" width="1145" alt="" border="0"></a>
<a href="../img/lp03.png" target="_blank"><img class="img2" src="../img/lp03.png" width="1145" alt="" border="0"></a>


<h2>GO-Globalの大きな特徴</h2>


<div class="box26">
    <span class="box-title"></span>

<font color="#c71585"><i class="fas fa-check-square"></i></font> コストが抑えられる<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> 管理が楽になる<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> セキュリティが高い<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> 操作性が優れてる<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> 構成がシンプル<br>

</p>




</div>

<div class="sample06">
<span class="box-title"><b>なぜ上記が実現できるのか？それは、GO-Globalの特徴に秘密があります。</b></span>

</div>


<h2>特徴1：構成がシンプル</h2>

<p>GO-Globalはリモートデスクトップサービスとは異なる技術を採用していますが、Windowsアプリケーションへのマルチユーザーリモートアクセスが可能な製品です。また、ADサーバーが不要ですのでWorkgroup環境での構築も実現できます。</p>






<p>▼下図のように他社のシステム構成と比較するとシンプルな環境で動作いたします。</p>

<h3>他社製品の構成</h3>
<a href="../img/server.jpg" target="_blank"><img class="img2" src="../img/server.jpg" width="1145" alt="" border="0"></a>



<h3>GO-Globalの構成</h3>
<a href="../img/server02.jpg" target="_blank"><img class="img2" src="../img/server02.jpg" width="1145" alt="" border="0"></a>

<p>※多くの製品ではリモートデスクトップサービスが必須ですが、GO-Globalはリモートデスクトップサービスなしで利用できます。
ADサーバーも必須ではありませんから、小規模案件ではワークグループ環境での構築も実現できます。</p>




<div class="box26">
    <span class="box-title">構成がシンプルなことで、得られる効果</span>
<br>
    <p><b>リモートデスクトップサービスに頼らない技術</b><br>

<font color="#c71585"><i class="fas fa-check-square"></i></font> 構築費や人件費が抑えられる<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> 管理が楽になる<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> ランニングコストが抑えられる


</p>
</div>




<h2>特徴2：GO-Globalはライセンスがシンプル</h2>


<p>他社では、ユーザー数、端末数、アカウント数など、ライセンスの考え方が複雑です。また、ライセンス単位も、50や、100単位ずつなど、販売形式は様々です。</p>


<p>GO-Globalは、「同時接続のユーザー」数という考え方で販売しております。1人1アカウントではないので、使いまわしてもOK。5ユーザー分から増減できるので会社の運用体制に合わせてフレキシブルに変更できます。<p>



<h3>他社のライセンスの考え方</h3>
<a href="../img/1000-01.jpg" target="_blank"><img class="img2" src="../img/1000-01.jpg" width="1145" alt="" border="0"></a>

<h3>GO-Globalのライセンスの考え方</h3>
<a href="../img/1000-02.jpg" target="_blank"><img class="img2" src="../img/1000-02.jpg" width="1145" alt="" border="0"></a>





<div class="box26">
    <span class="box-title">ライセンスがシンプルなことで、得られる効果</span><br>
    <p><b>ユーザー数が増えた場合や端末が増えた場合の影響が最小限</b><br>

<font color="#c71585"><i class="fas fa-check-square"></i></font> コストが抑えられる<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> 管理が楽になる


</p>
</div>




<h2>特徴3：独自の配信技術</h2>



<h3>他社製品の配信技術は画面転送型</h3>

<p>アプリケーションの実行はサーバーで行います。サーバーで実行された<u>画面を分割し、クライアント側へ転送</u>します。
クライアント側は、マウスとキーボードを操作してサーバーに情報を送ります。<br>
上記のような方法を画面転送型と言います。</p>

<p>上記は、高い情報保護能力をもちます。しかし、画面情報量が多いアプリケーションではネットワーク帯域を圧迫し、レスポンスが低下する原因となります。そういった場合、操作にストレスを感じるようになります。例えば、クライアント側に送られてきた画面情報が、コマ送りのようになる。画像が何重にもなる。反応が遅い。などといったことが起こります。

</p>


<h4>他社製品の配信方法</h4>
<a href="../img/function-introduction02.png" target="_blank"><img class="img2" src="../img/function-introduction02.png" width="1145" alt="" border="0"></a>


<h4>GO-Global配信方法</h4>



<p>サーバーより画面を描画する情報をクライアント側へ配信し、<u>クライアントからはキーボードやマウスの操作情報をサーバー側へ配信</u>します。



上記のような方法はGO-Global独自の描画型の転送になります。

</p>

<p>画面をそのまま転送せず、一度独自の方法で暗号化して描画情報でクライアント側に配信するので、重いデーターでもスムーズに配信できます。また暗号化されているのでセキュリティ面で安全です。
</p>



<a href="../img/function-introduction01.png" target="_blank"><img class="img2" src="../img/function-introduction01.png" width="1145" alt="" border="0"></a>




<div class="box26">
    <span class="box-title">配信技術が独自で、得られる効果</span><br>
    <p><b>独自の暗号技術</b>

<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font> セキュリティが高い<br><br>


    <p><b>画面転送ではなく独自技術で描画配信。ネットワーク帯域を圧迫しないので</b><br>

<font color="#c71585"><i class="fas fa-check-square"></i></font> 操作性に優れている。</p>
</div>




<h2>特徴4：デバイスを選ばない</h2>

<p>iPadで、エクセルを使いたい。外出先からモバイルで、会社独自の専用のアプリケーションを利用したい。といった場合GO-Globalならデバイスを選ばず使用することが可能です。サーバーに利用したいデーターやアプリをインストールすれば簡単に使用可能です。iPad/iPhone/Androidからは専用アプリでログインし、スムーズに操作ができます。</p>



<a href="../img/function01.jpg" target="_blank"><img class="img2" src="../img/function01.jpg" width="1145" alt="" border="0"></a>




<div class="box26">
    <span class="box-title">デバイスを選ばないことで、得られる効果</span><br>
    <p><b>今ある端末を活用できるので</b>

<br>
<font color="#c71585"><i class="fas fa-check-square"></i></font>コストが抑えられる<br>




<font color="#c71585"><i class="fas fa-check-square"></i></font>管理が楽になる
</p>

</div>

<h2>GO-Globalはバランスよく利用できます</h2>



<img class="img2" src="../img/chartset.png" width="900" alt="" border="0"></a>



<h2>ご興味がありましたら、ぜひご連絡ください。</h2>


</div>






    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-10 col-xs-push-1">



            <section>




                {{ if isset .Site.Params "email" }}





                <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>


                <div id="contact-message"></div>


                  <form name="kitform" method="post" action="/success.html" data-netlify="true">
                    <div class="row">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }}*</label>
                              <span class="form-error" id="form-name_error"></span>
                                <input  type="text" class="form-control" name="name" id="name" required>
                              <label for="furigana">{{ i18n "contactFuri" }}</label>
                                <input  type="furigana" class="form-control" name="firigana" id="firigana">
                              <label for="company">{{ i18n "company" }}*</label>
                                <input  type="company" class="form-control" name="company" id="company" required>
                               <label for="email">{{ i18n "contactMail" }}*</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            
                              <!--<label for="telephone">{{ i18n "contactTEL" }}</label>
                              <input type="telephone" class="form-control" name="telephone" id="telephone" -->
                          
                         <!--<label class="type" for="form-type">お問い合わせ種類</label>
                          <select class="form-control" id="form-type" name="form-type">
                            <option value="null" disabled selected>お選びください</option>
                            <option value="営業関連" >営業関連問い合わせ</option>
                            <option value="技術関連" >技術関連問い合わせ</option>
                            <option value="その他" >その他のお問い合わせ</option>
                          </select--> 
                        </div>

                            <div class="form-group">

                              <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>




                            </div>
                        </div>
                        <span class="form-error" id="form-type_error"></span><br />
                        <center><div data-netlify-recaptcha="true"></div></center>
                        <div class="col-sm-12">
                          {{ .Content }}
                          </div> 
                            <div class="col-sm-12">
                            <h4>株式会社きっとエイエスピー<br>個人情報問合せ窓口</h4>
                            〒102-0083 東京都千代田区麹町5-3-3<br>
                            麹町ＫＳスクエア6階<br>
                            TEL：03-3350-9300<br>
                            FAX：03-3263-3088<br>
                            privacy@kitasp.com<br>
                            9:00～18:00<br>
                            土・日曜日、祝日、年末年始<br>
                          </div>
                          
                        <div class="col-sm-12 text-center">
                          <div class="form-group">
                            <br>
                            <p>
                             <input type="checkbox" name="check" id="check" required>個人情報の取り扱いについて了承する*
                             </p>
                           </div>
                          <button type="submit" class="btn btn-template-main"><i class="far fa-envelope"></i>{{ i18n "contactSend" }}</button>
                        </div>
                    </div>
                    <!-- /.row -->
                </form>
                {{ end }}

            </section>

        </div>

<br><br>


<!--        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div> -->

    </div>
    <!-- /.row -->
</div>
