<div class="container" id="contact">


    <section>


        {{ if isset .Site.Params "email" }}

        <div class="heading">
            <main>
                <div class="general-content-wrapper max-width faq">
                    <div class="general-content">
                        <iframe src="https://portal.kitasp.com/downloads"></iframe>
                            </div>                           
                        </div>
                    </div>
                </div>
            </main><!-- main -->


      </div>

      {{ end }}

    </section>



<div class="col-md-4">

    {{ if isset .Site.Params "address" }}
    <section>



    </section>

    {{ end }}

</div>

  <!-- /.row -->
</div>
