<section class="bar background-image-fixed-24 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>-->
                <h1 class="text">よくある質問</h1>   
            </div>
        </div>
    </div>
  </section>
<div class="container" id="contact">


    <section>


        {{ if isset .Site.Params "email" }}

        <div class="heading">
            <main>
                <div class="general-content-wrapper max-width faq">
                    <div class="general-content">
                        <h1>よくある質問</h1>
                        <div class ="adapta">
                            <h3>GO-Globalについて</h3>
                        </div>
                        <div class="faq-item">
                            <div class="faq-q">
                                <dl class="q-and-a">
                                    <dt>GO-Globalとはどんなものですか▼</dt>
                                    <dd>既存Windowsで利用するアプリケーションをサーバから配信するミドルウェアになります。</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>GO-Globalのメリットとは何ですか？▼</dt>
                                    <dd>高速起動、素早いデプロイ、同時接続によるライセンス費用の圧縮、シンプルな構成により運用負荷の軽減などが挙げられます。</dd>
                                </dl>
                                <dl class="q-and-a">
                                    <dt>主にどんな用途に使われていますか？▼</dt>
                                    <dd>一般的なアプリケーションのホスティング、レガシーアプリケーションの延命、セキュリティ対策としてのシンクライアント化、リモートワーク、Web分離、働き方改革様々な用途に利用されています。</div>
                                    </dd>
                                </dl>
                                <div class ="adapta">
                                <h3>シンクライアントの管理、製品仕様について</h3>
                                </div>
                                <dl class="q-and-a">
                                    <dt>モバイル環境でも使えますか？▼</dt>
                                    <dd>iOS,Android,chromebook(ver.6以降)に対応しております。</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>クライアントからGO-Globalで利用しているアプリケーションの印刷はできますか？▼</dt>
                                    <dd>可能です。プリンタドライバによっては充分な性能が出ない可能性もございますので事前の検証をお願いいたします。</dd>
                                </dl>
                                <dl class="q-and-a">
                                    <dt>SSL通信には対応していますか？▼</dt>
                                    <dd>対応しています。GO-GlobalのSSL通信機能は56bit-DESの暗号化が標準機能になっております、それ以上の暗号強度を利用を考えている場合はお問い合わせください。</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>GO-Globalを使って動画を見ることはできますか？▼</dt>
                                    <dd>動画は描画の情報量が多いため一部の動画では十分な性能が出ないことがございますので事前の検証をお願いいたします。</dd>
                                </dl>
                                <dl class="q-and-a">
                                    <dt>Windowsのデスクトップ画面を見ることはできますか？▼</dt>
                                    <dd>残念ながらデスクトップ機能はございません。あくまでGO-Globalはアプリケーション配信のミドルウェアになります。</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>ライセンス費用の圧縮とは具体的にはどのようなことか？▼</dt>
                                    <dd>社員数や利用者の最大数のライセンスが必要なのではなく同時接続ユーザー数のライセンスを購入いただけます。つまり、利用者が１００名いたとしても同時に利用するユーザーが１０名であれば１０ユーザーのライセンスの購入でGO-Globalをご利用いただけます。</dd>
                                </dl>
                                <div class ="adapta">
                                <h3>導入事例、導入方法、貸し出しについて</h3>
                                </div>
                                <dl class="q-and-a">
                                    <dt>製品の評価を行いたいのですが、体験版はありますか？▼</dt>
                                    <dd>30日間の評価ライセンスを発行を致しますのでお気軽にお問い合わせください、また検証サーバも貸出可能です。</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>製品のデモを見てみたいのですがお願いできますか？▼</dt>
                                    <dd>可能ですのでお気軽にお問い合わせください。</dd>
                                </dl>
                                <dl class="q-and-a">
                                    <dt>製品の見積が欲しい場合はどうすればよいですか？▼</dt>
                                    <dd>弊社販売代理店までお問い合わせください。<a href="/partners-list/">代理店一覧</a></dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>年間サポートの契約は必要ですか？▼</dt>
                                    <dd>1年目は必須ですが2年目以降は任意になります。ただしサポートに加入しない場合は弊社よりサポートができないのでご了承ください。</dd>
                                </dl>
                                <div class ="adapta">
                                    <h3>設定方法について</h3>
                                </div>
                                <dl class="q-and-a">
                                    <dt>クライアントをデスクトップ上のアイコンをクリックすれば<br>アプリが起動するようにしたいのですが方法はありますか▼</dt>
                                    <dd>GGクライアントプログラムに引数としてパラメーターを追加することで実現可能です。<br>または、弊社開発のGG拡張パック「GGEasyLogon」を利用して実現することも可能です。</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>1ユーザーあたりのセッショントラフィックはどの程度見込めば良いでしょうか▼</dt>
                                    <dd>ユーザートラフィックについてはGraphOnでは明確な情報を公開していません。<br>
                                        これは操作するアプリケーションによるためです。<br>
                                        例えばIEにしても描画情報の多いページと少ないページではその処理が異なるためです。<br>
                                        クライアント-サーバ間の最低限の帯域についてのみ情報が公開されています。<br>
                                    <br>
                                        ・最大往復遅延500ミリ秒以内<br>
                                        ・最低28.8 kbps以上のモデム速度が必要<br>
                                        ・１ユーザーごとにネットワーク帯域幅として16 kbpsが必要<br>
                                        　　（上記は、セッションを維持するための必要な帯域と考えて下さい。）</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>複数のGO-Globalのサーバーを運用して接続をロードバランスさせたいのですが方法はどうすればよいでしょうか▼</dt>
                                    <dd>弊社開発のGG拡張パック「GGEasyMonitor」を利用して実現できます。<br>
                                        同時接続数が大きくなる場合はサードパーティー製のロードバランサーのご利用ができます。</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>GO-Globalの公開アプリとしてOutlookを利用するときに注意事項はありますか？▼</dt>
                                    <dd>GG上でOutlookを公開する際の注意点を参照ください20200415.pptx参照</dd>
                                </dl>
                                <dl class = "q-and-a">
                                    <dt>クラウドサービス上でGO-Globalサーバーを運用することはできますか？▼</dt>
                                    <dd>Azure、AWS、Cloudnなどで実績があります。</dd>
                                </dl>
                                <dl class="q-and-a">
                                    <dt>ライセンスサーバーの冗長化を行いたい。▼</dt>
                                    <dd>ライセンスサーバーの冗長化はサポートしていません。<br>
                                        それぞれのGO-Globalホストにライセンスを配置するか、<br>
                                        ライセンスサーバーを構築する場合はライセンス専用の仮想マシンを構築して<br>
                                        障害時の復旧が容易となる構成にして下さい。</dd>
                                </dl>   
                                <dl class="q-and-a">
                                    <dt>Active Directoryが必要ないと聞いたがユーザー管理はどのようにすればよいか。▼</dt>
                                    <dd>他の製品と違い GO-Globalは Active Directory環境は必須でありません。<br>
                                        ただしGO-Globalホストサーバーを複数用意し利用するユーザーを振り分ける場合は、<br>
                                        ユーザー管理のためActive Directory環境を構築してください。</dd>
                                </dl>   

                                <dl class="q-and-a">
                                    <dt>Zoom や Skype、Teams 等を使って音声や映像のやり取りが可能か？▼</dt>
                                    <dd>GO-Globalホスト上で動作するアプリケーションの映像や音声を<br>
                                        GO-Globalクライアントで再生することは可能ですが、<br>
                                        映像や音声をクライアント端末からGO-Globalホストへ伝達することが出来ません。</dd>
                                </dl>   

                                <dl class="q-and-a">
                                    <dt>独自開発のアプリケーションをGO-Globalで利用する際の動作検証をきっとエイエスピーで行ってほしい。▼</dt>
                                    <dd>独自開発のアプリケーションに関わらず、<br>
                                        お客様の環境で公開アプリケーションを利用する際の動作検証は代理店様で実施してください。</dd>
                                </dl>   
                                <dl class="q-and-a">
                                    <dt>特定の公開アプリケーションの画面が、バックグラウンド側で表示される場合がある。▼</dt>
                                    <dd>アプリケーションが「応答なし」状態になると、<br>
                                        ゴーストウィンドウが表示されアプリケーションがバックグラウンドで表示される場合があります。<br>
                                        これはGO-Globalが制御するのではなくWindows OSの制御によるものです。<br>
                                        この場合は、アプリケーション側で対処するか、OS側での対処が必要になります。</dd>
                                </dl>   
                                <dl class="q-and-a">
                                    <dt>GO-Globalで使用ている491ポートは、リモートデスクトップで使用する3389ポートと違うのか？▼</dt>
                                    <dd>A　GO-Globalはリモートデスクトップ技術は使用せず通信プロトコルは独自のプロトコルを使用するため 3389ポートは使用しません。<br>
                                        なお、GO-Globalが使用する 491ポートは IANA (Internet Assigned Numbers Authority) <br>
                                        がGO-Globalのために割り当てた専用の予約ポート番号(go-login)になります。</dd>
                                </dl>   
                            </div>                           
                        </div>
                    </div>
                </div>
            </main><!-- main -->


      </div>

      {{ end }}

    </section>



<div class="col-md-4">

    {{ if isset .Site.Params "address" }}
    <section>



    </section>

    {{ end }}

</div>

  <!-- /.row -->
</div>
