
    <div class="col-md-12">
        <footer id="footer">
        <div class="footer-nav-wrapper">        
        <div class="container">
            <div class="col-md-3 col-sm-3">
                <div class="footer-nav-column">
                    <div class="footer-nav-column-title"></div>
                    <div align="right"class="footer-nav-column-content">
                    <a href="/go-global/">GO-Globalとは</a>
                    <ul class="footer-nav-list">
                        <li>
                            <a href="/web-separation/">WEB分離</a>
                        </li>
                        <li>
                            <a href="/work-style-reform/">働き方改革</a>
                        </li>
                        <li>
                            <a href="/thin-client/">シンクライアント</a>
                        </li>
                        <li>
                            <a href="/lift-shift/">アプリケーションクラウド化</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="hidden-md hidden-lg hidden-sm">
        <div class="col-md-3 col-sm-3">
            <div class="footer-nav-column">
            <div align="right"class="footer-nav-column-content">
                <a href="/case-study/">導入事例</a>
                <ul class="footer-nav-list">
                    <li>
                        <a href="/adaptation-facility-1/">医療現場</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-2/">ISV</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-3/">中小企業</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-4/">BCP対策</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-5/">教育現場</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <hr class="hidden-md hidden-lg hidden-sm">
                <div class="col-md-3 col-sm-3">
                    <div class="footer-nav-column">
                        <div class="footer-nav-column-title"></div>
                        <div align="right" class="footer-nav-column-content">
                            <a href="/post/">お知らせ</a>
                            <ul class="footer-nav-list">
                                <li>
                                    <a href="/support-schedule/">対応スケジュール</a>
                                </li>
                                <li>
                                    <a href="/news/">Download</a>
                                </li>
                                <li>
                                    <a href="/categories/news/">サイトニュース</a>
                                </li>
                                <li>
                                    <a href="/categories/tech-news/">技術ニュース</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="hidden-md hidden-lg hidden-sm">
        
                </div>

        
        <!-- /.col-md-4 -->
                


        <!-- /.col-md-4 -->


        <div class="col-md-3 col-sm-3">
            <div class="footer-nav-column">
        <div align="right" class="footer-nav-column-content">
            <a href="/faq/">FAQ</a><br>
            <a href="/partners-list/">代理店一覧</a><br>
            <a href="/contact/">問合せフォーム</a><br>
            <a href="/technical-site/">技術サイト</a><br>
            <br>
            <hr class="hidden-md hidden-lg hidden-sm">
            <a href="/company-information/">企業概要</a>
            <ul class="footer-nav-list">
                <li>
                    <a href="/representative-greetings/">代表あいさつ</a>
                </li>
                <li>
                    <a href="/philosophy/">理念</a>
                </li>
                <li>
                    <a href="/history/">沿革</a>
                </li>
                <li>
                    <a href="/privacy-policy/">個人情報保護方針</a>
                </li>
            </ul>
        </div>
    </div>
</div>
        <!-- /.col-md-4 -->
       

    </div>
    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT *** 
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
           <h4 class="pull-left">{{ .Site.Params.copyright | safeHTML }}</h4>
            {{ end }}
<!--            <p class="pull-right">
              {{ i18n "templateBy" | markdownify }} <a href="https://bootstrapious.com/p/universal-business-e-commerce-template">Bootstrapious</a>.
               Not removing this link is part of the licence conditions of the template. Thanks for understanding :) 

              {{ i18n "portedBy" | markdownify }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>.　
            </p> -->           
        </div>
    </div>
</div>


<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
