
    <div class="col-md-12">
        <footer id="footer">
        <div class="footer-nav-wrapper">        
        <div class="container">
            <div class="col-md-3 col-sm-3">
                <div class="footer-nav-column">
                    <div class="footer-nav-column-title"></div>
                    <div class="footer-nav-column-content">
                    <a href="/our-services/">当社のサービス</a>
                    <ul class="footer-nav-list">
                        <li>
                            <a href="/web-separation/">WEB分離</a>
                        </li>
                        <li>
                            <a href="/work-style-reform/">働き方改革</a>
                        </li>
                        <li>
                            <a href="/thin-client/">シンクライアント</a>
                        </li>
                        <li>
                            <a href="/security/">セキュリティ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                <div class="col-md-3 col-sm-3">
                    <div class="footer-nav-column">
                        <div class="footer-nav-column-title"></div>
                        <div class="footer-nav-column-content">
                            <a href="/function-introduction/">機能紹介</a>
                            <a href="/technical-site/">技術サイト</a>
                            <a href="/partners-list/">代理店一覧</a>
                            <a href="/downloads/">Download</a>
                            <a href="/support-schedule/">サポートスケジュール</a>
							<a href="/contact/">問合せフォーム</a>
                        </div>
                    </div>
                    <hr class="hidden-md hidden-lg hidden-sm">
        
                </div>

        
        <!-- /.col-md-4 -->
                


        <!-- /.col-md-4 -->

        <div class="col-md-3 col-sm-3">
            <div class="footer-nav-column">
            <div class="footer-nav-column-content">
                <a href="/case-study/">導入事例</a>
                <ul class="footer-nav-list">
                    <li>
                        <a href="/adaptation-facility-1/">適応施設(医療機関)</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-2/">適応施設(教育機関)</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-3/">適応施設(ISV)</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-4/">適応施設(一般オフィス)</a>
                    </li>
                    <li>
                        <a href="/adaptation-facility-5/">適応施設(BCP対策) </a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="footer-nav-column">
        <div class="footer-nav-column-content">
            <a href="/post/">ニュース</a>
            <ul class="footer-nav-list">
                <li>
                    <a href="/news/">サイトニュース</a>
                </li>
                <li>
                    <a href="/tech-news/">技術ニュース</a>
                </li>
            </ul>
            <a href="/company-information/">企業概要</a>
            <ul class="footer-nav-list">
                <li>
                    <a href="/representative-greetings/">代表あいさつ</a>
                </li>
                <li>
                    <a href="/philosophy/">理念</a>
                </li>
                <li>
                    <a href="/history/">沿革</a>
                </li>
                <li>
                    <a href="/privacy-policy/">個人情報保護方針</a>
                </li>
            </ul>
        </div>
    </div>
</div>
        <!-- /.col-md-4 -->
       

    </div>
    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT *** 
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
           <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
<!--            <p class="pull-right">
              {{ i18n "templateBy" | markdownify }} <a href="https://bootstrapious.com/p/universal-business-e-commerce-template">Bootstrapious</a>.
               Not removing this link is part of the licence conditions of the template. Thanks for understanding :) 

              {{ i18n "portedBy" | markdownify }} <a href="https://github.com/devcows/hugo-universal-theme">DevCows</a>.　
            </p> -->           
        </div>
    </div>
</div>


<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
