<section class="bar background-image-fixed-13 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
              </div>-->
              <br>
              <br> 
              <h1 class="text">GO-Globalは低コストで<br>セキュアなシンクライアントです</h1>
              <br>
                <h2></h2>
            </div>
      </div>
  </div>
</section>
<div class="container" id="contact">
            <section>
                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <main>                    
                    <div class="general-content-wrapper max-width  function-introduction">
                    <div class="general-content">
                        <br>
                        <p class="list">
                            <br>
                            <a href="#1">1　GO-Globalとは</a><br>
                            <a href="#1-1">&emsp;1-1　GO-Globalの仕組み</a><br>
                            <a href="#2">2　GO-Globalの歴史</a><br>
                            <a href="#3">3　GO-Globalが注目される理由</a><br>
                            <a href="#4">4　Web分離（インターネット分離）に最適なGO-Global</a><br>
                            <a href="#4-1">&emsp;特徴1　全てがスピーディ</a><br>
                            <a href="#4-2">&emsp;特徴2　デバイスを選ばない</a><br>
                            <a href="#4-3">&emsp;特徴3　システムコストが低い</a><br>
                            <a href="#4-4">&emsp;特徴4　セキュリティが高い</a><br>
                            <a href="#5">5　GO-Globalはこんなお悩みを解決します</a><br>
                        </p>
                        <br>
                        <div id = '1'>
                          <h3>1 GO-Globalとは</h3>
                          <div class="fadein">
                          <img class="img2" src="/img/goglobal.jpg">

                          </div>
<!--                          <p>HTML5のvideoタグによる動画再生</p>
<video controls autoplay poster="firstframe.jpg" width="320" height="240">
<source src="/img/test.mp4">
<p>動画を再生するには、videoタグをサポートしたブラウザが必要です。</p>
</video>
-->
                          <p>
                            GO-Globalとはプレゼンテーション層（およびセッション層）の仮想化技術で、一般に「シンクライアント」として分類される技術製品です。
                            サーバー側でアプリケーションを実行し、クライアント端末側で操作を行う。シンプルな概念のミドルウェアです。そのシンプルな構造から多くの、ユーザからの高い支持を得ております。
                            １度導入するとそのシンプル且つ、コストパフォーマンスの高さに何年にもわたり使い続けていただけるユーザ様が多いのが特徴です。
                          </p>
                        </div>
                        <div id = '1-1'>
                          <h4>1-1 GO-Globalの仕組み</h4>
                          <p>
                          <br>
                          GO-Globalは上記でも記した通りアプリケーション配信技術です。
                          アプリケーションを利用する場合には通常パソコンにアプリケーションをインストールする必要があります。
                          しかし、アプリケーション配信サービスでは、
                          クライアント側にインストールせずに利用者がサーバーにアクセスし認証を行うことで、サーバーに登録されているアプリケーションを利用することができます
                          <br>
                          </p>
                          <div class="fadein">
                            <img class="img2" src="/img/goglobal02.png">
                          </div>
                        </div>
                        <div id = '2'>
                          <h3>2 GO-Globalの歴史</h3>
                          <p>
                            GO-Global for Windowsは、米国GraphOn社が約２０年前に独自に開発しました。
                            きっとエイエスピーでは、この米国GraphOn（グラフォン）社が独自に開発したシンクライアント技術を、十数年の年月をかけていくつもの大規模導入実績を積み重ねてきました。
                            技術的安定性と性能という品質に信頼があり、導入業界は、政府、自治体、銀行、生保、病院、教育（校務や学校）、通信、製造、建設、生協、消防、介護、人材、コールセンター等々、多岐に渡ります。
                            ２０年前からある仕組みではありますが、このシンプルな仕組みがいま、
                            以下の理由でさらに、注目を集めています。
                          </p>
                        </div>
                        <div id = '3'>
                          <h3>3 GO-Globalが注目される理由</h3>
                          <br>
                          <div class="fadein">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="box30">
                                <div class="box-title"><img src="/img/remote.png"></div>
                                <p><b>リモートワーク</b>ができる<br><br></p>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="box30">
                                <div class="box-title"><img src="/img/old-app.png"></div>
                                <p><b>古いアプリケーション</b>を活用できる<br>　</p>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="box30">
                                <div class="box-title"><img src="/img/security.png"></div>
                                <p><b>セキュリティを強化</b>できる<br>　</p>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                              <div class="box30">
                                <div class="box-title"><img src="/img/cloud.png"></div>
                                <p>スタンドアローンのソフトを<b>クラウド化</b>できる</p>
                              </div>
                            </div>
                          
                          </div>
                          <p>
                            などその他にも沢山の活用事例があります。
                            企業や、組織が直面する課題にGO-Globalは迅速に解決へ導けます。
                          </p>
                        </div>
                        <div id = '4'>
                          <h3>4 GO-Globalが他社とは違う４つの大きな特徴</h3>
                          <p>
                            （アプリケーション配信システム）の技術は多岐に渡りますが
                            GO-Globalは他社と大きく違う４つの特徴があります。
                          </p>
                        </div>
                        <div id = '4-1'>
                          <div class="adapta">
                          <h3>特徴1.スピーディに開始でき動作も早い！</h3>
                          </div>                
                          <br>
                          <div class = "col-md-12">
                            <div class="col-md-3">
                              <img class="img2" src="/img/fastinstall.jpg"width="100"></a>
                            </div>                            
                            <div class = "col-md-9">
                            <h4>サーバーに5分でインストール完了です！</h4>
                          <p>
                            GO-Globalはインストールが５分程度で完了。
                            面倒な設定などは一切ありません。<br>
                            ※他社製品はインストールに１時間～２時間かかり、細かい設定が必要です。<br>
                          </p>
                          </div>
                          
                        </div>
                        



                       
                            <div class = "col-xs-12 col-md-12"> <h4>他社製品の配信方法</h4><br> <br>




                              <div class="col-xs-12 col-md-9 col-md-push-3">
                                <div class="fadein">


                                  <a href="/img/function-introduction02.png" data-lightbox="group1">
                                  <img class="img2" src="/img/function-introduction02.png"width="300"></a>

                                </div>
                              </div>


                              <div class="col-xs-12 col-md-3 col-md-pull-9">
                              <p>
                                他社製品は、アプリケーションの実行などはサーバー上で行い、
                                クライアントには画面情報のみを送り、サーバーにはクライアント上でのマウスとキーボードの操作情報を送ります。これを画像転送型と言います。
                                上記は、高い情報保護能力をもちます。
                                しかし、画面情報量が多いアプリケーションではネットワーク帯域を圧迫し、
                                レスポンスの低下の原因となり、使用感にストレスを感じます。<br>
                             </p>                            </div>
                          </div>




  <div class = "col-md-12">
                            <br> <br>
                            <div class = "col-md-9">
                              <div class="fadein">
                                  <a href="/img/function-introduction01.png" data-lightbox="group1">
                                  <img class="img2" src="/img/function-introduction01.png"width="300"></a>
                              </div>
                            </div>
                            <div class = col-md-3>
                              <p>
                                <br>
                                GO-GlobalはAPIラッピング方式を利用しています。
                                APIラッピング方式とは、サーバーとクライアント間で画面情報をビットマップで送受信するのではなく、画面の描画命令をクライアントへ送信する技術です。
                              </p>
                            </div>




                          <div class = "col-md-12">
                              <p>
                                <br>
                                <h4>GO-Globalでは独自のプロトコル「Rapid-X」を採用している</h4></p>

                                <p>GO-Globalでは独自のプロトコル「Rapid-X」を採用しているので、ネットワーク帯域を圧迫せず、操作の高いレスポンスを実現しストレスなく使用できます。GO-Globalを使用する、エンドユーザは一般的なPC操作と変わらず、モバイルなどの環境でも高いレスポンスを実現できるのです。
                                こういったAPIラッピング方式を採用しているのは<b>GO-Globalだけの独自の技術です。</b><br>
                              </p>
                            </div>
                        </div>
                        <div id = '4-2'>
                          <div class="adapta">
                          <h3>特徴2.デバイスを選ばない</h3>
                          </div>
                            <a href="/img/function01.jpg" data-lightbox="group1">
                            <img class="img2" src="/img/function01.jpg"width="300"></a>
                            <p>
                              iPadでエクセルを使いたい。外出先からモバイルで入力作業をしたい。
                              といった場合にデバイスを選ばず<br>
                              GO-Globalなら使用することができます。
                              １台のサーバーにのみに利用したいデータやアプリをインストールで使用可能です。
                              iPad/iPhone/Androidからは専用アプリでログインし、スムーズに操作ができます。<br>
                            </p>
                        </div>
                        <div id = '4-3'>

                          <div class = "col-md-12">

                          <div class="adapta">
                          <h3>特徴3.システムコストが低い</h3>
                        </div>
                        <h3>低コストにできる5つの理由</h3>
                        <br>
                        <h4>1.作業時間が短い</h4>
                        <p>アプリケーションのインストールやバージョンアップもサーバー側の作業で行うので時間が短縮できます。</p>    
                        <a href="/img/function02.jpg" data-lightbox="group1">
                          <img class="img2" src="/img/function02.jpg"width="300">
                        </a>
                        <br>
                        <h4>2.開発の必要がない</h4>
                        
                        <div class="col-xs-3 col-md-3">
                          <a href="/img/function05.jpg" data-lightbox="group1">
                          <img class="img2" src="/img/function05.jpg"width="300">
                          </a>
                          </div>  
                        <p>GO-Globalを入れるだけで、新しくアプリケーションの開発や改修する必要がありません。そのため開発コストが不要です。</p>
                        </div>

                            <div class = "col-md-12">  
                              <br>                            <br>
                              <br> 
  
                          <h4>3.ライセンスが柔軟</h4>
                          <p>
                            GO-Global独自技術で構築している簡潔なシステム構成です。
                            よって他社製品に比べてユーザ数やアカウント数の調整が柔軟に対応できます。
                          </p>
                          </div>
                          <div class = "col-md-12">
                          <h4>4.名前付きユーザー100、同時アクセスユーザー50の場合の構築例</h4>
                          <a href="/img/function04.jpg" data-lightbox="group1">
                            <img class="img2" src="/img/function04.jpg"width="300"></a>
                         
                              <div class="col-md-7">
                                <h4>5.教育費用と時間の短縮</h4>
                                <p>アプリケーションは見た目や操作性が従来通りで変わりません。エンドユーザへの指導や教育は不要です。</p>
                              </div>
                              <div class="col-md-5">
                                <a href="/img/function06.jpg" data-lightbox="group1">
                                  <img class="img2" src="/img/function06.jpg"width="300"></a>    
                              </div>
                            </div>
                          
                          </div>
                        </div>
                        <div id = '4-4'>
                          <div class = "col-md-12">
                            <div class = "adapta">
                            <h3>特徴4.セキュリティが高い</h3>
                          </div>
                            <p>
                              サーバー上でデータを一元管理、端末にデータを残しません。 重要な、ドキュメントや個人情報は、サーバーで管理するので、端末に情報を残しません。 PCはディスクレスまたは書き込み不可も可能なので紛失や盗難、サイバー攻撃の心配がありません。 もちろん、重要なアプリケーション、保存すべきドキュメントは全てサーバーに保存できます。
                            </p>
                            <a href="/img/function03.jpg" data-lightbox="group1">
                              <img class="img2" src="/img/function03.jpg"width="300"></a>
                            <br>   
                          </div>                   
                      
                        <div id = '5'>
                          <div class = "col-md-12">
                          <div class = "adapta">
                            <h3>5 GO-Globalはこんなお悩みを解決します</h3>
                          </div>
                          <a href="/img/function07.jpg" data-lightbox="group1">
                            <img class="img2" src="/img/function07.jpg"width="300"></a>  
                            <p>以下のようなお悩みを抱えている企業様には、特におすすめです。</p>
                            <li>働き方改革の一環としてテレワークやサテライトオフィスをご検討の中小企業様</li>
                            <li>クラウド化を検討しているISV系ソフトウエア企業様</li>
                            <li>レガシイーアプリケーションで基幹システムを動かしている中小企業様</li>
                            <li>病院や教育機関で、WEB分離（インターネット分離・WEB分離ブラウザ）でセキュリティ強化を検討中の方。</li>
                            <li>事業継続計画（BCP対策）で、データのバックアップや復旧でお困りの中小企業様</li>
                            <br>
                            <p>その他にも中小企業様や自治体、教育機関が抱える課題を、シンクライアントの技術を利用して解決してきました。</p>
                        </div>
                        </div>
                          <br>

                          <h3 class="system-requirements-title">動作環境(GO-Global for Windows 6.0.1)</h3>
                          <table class="system-requirements">
                            <caption>サーバー</caption>
                            <tbody>
                              <tr>
                                <td width="100px">OS</td>
                                <td>
                                  1.  Windows Server 2019 Standard Edition (64-bit)<br />
                                  　Datacenter Edition (64-bit)<span class="red">※1</span><br />  
                                  2.  Windows Server 2016 Standard Edition (64-bit)<br />
                                　Datacenter Edition (64-bit)<span class="red">※1</span><br />
                                  3.  Windows Server 2012 R2 Standard Edition (64-bit)<br />
                                　Datacenter Edition (64-bit)<br />
                                  4.  Windows Server 2012 Standard Edition (64-bit)<br />
                                  5.  Windows Server 2008 R2 with SP1 Standard Edition (64-bit)<br />
                                  Enterprise Edition (64-bit)<br />
                                  <span class="red">※1 一部機能に制限がございます</span>
                                </td>
                              </tr>
                              <tr>
                                <td width="100px">メモリ</td>
                                <td>2GB(Min)</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="system-requirements">
                            <caption>クライアント</caption>
                            <tbody>
                              <tr>
                                <td width="100px">OS</td>
                                <td>
                                  1.  Windows 10 Pro and Enterprise (32/64-bit)<br />
                                  2.  Windows 8.1 Standard and Pro (32/64-bit)<br />
                                  3.  Windows 8 Standard and Pro (32/64-bit)<br />
                                  4.  Windows 7 with SP1 (32/64-bit)<br />
                                  5.  Windows XP with SP3 (32-bit)<span class="red">※1</span><br />
                                  6.  Mac OS X 10.6 and later<br />
                                  7.  Red Hat Enterprise Linux 5 and 6（64-bit）<br />
                                  8.  CentOS 5 and 6（64-bit）<br />
                                  9.  SUSE Linux Enterprise Desktop 11（64-bit）<br />
                                  10. Ubuntu 12.04 LTS and 16.04 LTS（64-bit）<br />
                                  11. iOS (8.0 or later) (3G、WiFi)<br />
                                  12. Android (4.0 or later) (3G、WiFi) (ARMプロセッサのみ)<br />
                                  <span class="red">※1　Microsoftのサポートは切れていますのでご注意ください</span>
                                </td>
                              </tr>
                              <tr>
                                <td width="100px">ブラウザ</td>
                                <td>
                                  1.  Internet Explorer 10.0, 11.0<span class="red">※2</span><br />
                                  2.  Mozilla Firefox 52 (ESR) on Windows and Linux(32bit)<br />
                                  3.  Apple Safari 5.0.6 or later on Mac OS X<br />
                                  4.  Google Chrome with Windows XP, 7, 8, 8.1,10<br />
                                  <span class="red">※2　Microsoft Edgeには対応はしていません</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <style>
                            table {
                              width:100%;
                            }

                            table, th, td {
                              border: 1px solid black;
                              border-collapse: collapse;
                              vertical-align:top;
                              padding: 8px;}
                            </style>
                          </div>
                        </div>
                      </main><!-- main -->
                    </div>
                {{ end }}
            </section>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>
            </section>
            {{ end }}
        </div>
    <!-- /.row -->
</div>
