<main>
    <div class="general-content-wrapper max-width history">
        <h1>沿革</h1>
        <div class="general-content">
            <table>
                <tbody>
                    <tr>
                        <td class="date">2000年11月</td>
                        <td>東京都新宿区富久町にて株式会社きっとエイエスピー設立(代表取締役：松田利夫)</td>
                    </tr>
                    <tr>
                        <td class="date">2000年12月</td>
                        <td>米国GraphOn社 シンクライアント製品「GO-Global」の日本での独占販売権契約を締結</td>
                    </tr>
                    <tr>
                        <td class="date">2003年2月</td>
                        <td>米国GraphOn社 シンクライアント製品「GO-Global for Windows/Unix」販売開始</td>
                    </tr>
                    <tr>
                        <td class="date">2006年6月</td>
                        <td>新宿区新宿1丁目3番12号に本社移転</td>
                    </tr>
                    <tr>
                        <td class="date">2018年1月</td>
                        <td>株式会社デンタルシステムズの連結子会社化</td>
                    </tr>
                    <tr>
                        <td class="date">2018年7月</td>
                        <td>代表取締役に岩室圭一就任</td>
                    </tr>
					<tr>
					    <td class="date">2019年5月</td>
						<td>千代田区麴町5丁目3番3号(現住所)に本社移転</td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
</main><!-- main -->
