<section class="bar background-image-fixed-23 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>-->
                <h1 class="text">代理店一覧</h1>   

            </div>
        </div>
    </div>
  </section>
<div class="container" id="contact">


            <section>

                

                {{ if isset .Site.Params "email" }}
                <div class="general-content-wrapper max-width partners-list">
                   <div class="general-content">
                        <p>GraphOn社製GO-Global for Windows / Unix / Linuxは、株式会社きっとエイエスピーは、世界で2番目に古いシンクライアント製品の国内販売代理店を20年以上務めております。下記販売代理店一覧にある事業者の皆さまを通じてご購入ください。株式会社きっとエイエスピーによる正規サポートの対象となります。</p>
                        <p>
                            尚、製品のご紹介資料ならびにご説明、製品デモ等のご要望につきましては、弊社にて直接のご対応も致しておりますので、お気軽にお声をお掛けください<br />
                            本ページに関してのお問い合わせは<a href="https://www.kitasp.com/contact/">こちら</a>
                        </p>

                        <table class="partners-table">
                            <tbody>
                                <tr>
                                    <th colspan="3">北海道</th>
                                </tr>
                                <tr>
                                    <td><a href="http://www.aurens.or.jp/" target="_blank">株式会社オーレンス</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>011-700-1233</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.hokkaido-ima.co.jp/" target="_blank">株式会社クリエイティブ・コンサルタント</a></td>
                                    <td>斉藤雅之</td>
                                    <td>011-210-7130</td>
                                </tr>
                               

 <tr>
                                    <th colspan="3">東北</th>
                                </tr>

 <tr>
                                    <td><a href="http://www.its-net.co.jp/ " target="_blank">株式会社情報技術サービス</a></td>
                                    <td>土屋　久雄</td>
                                    <td>023-644-0377</td>
                                </tr>


<td><a href="https://www.snitcomputer.com/ " target="_blank">株式会社 スニットコンピュータ</a></td>
                                    <td>佐藤 雅美</td>
                                    <td>011-823-5743</td>
                                </tr>




                                <tr>
                                    <th colspan="3">関東</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.act21.co.jp/" target="_blank">株式会社アクト</a></td>
                                    <td>酒井謙</td>
                                    <td>03-3452-1889</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.aspex.co.jp/" target="_blank">株式会社アスペックス</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>03-5244-9655</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.alex.co.jp/" target="_blank">株式会社アレックスマネジメント</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>03-5614-9711</td>
                                </tr>
                                <tr>
                                    <td>石田データサービス株式会社</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.isforce.jp/" target="_blank">インフォメーションサービスフォース株式会社</a></td>
                                    <td>西ノ宮　穣</td>
                                    <td>03-5315-4515</td>
                                </tr>
                                <tr>
                                    <td>三菱電機インフォメーションネットワーク株式会社</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>株式会社内田洋行ITソリューションズ</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.siproduct.co.jp/" target="_blank">株式会社エスアイプロダクト</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>03-6450-1461</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.keyware.co.jp/" target="_blank">キーウェアソリューションズ株式会社</a></td>
                                    <td>販売推進部GO-Globalﾗｲｾﾝｽ窓口</td>
                                    <td>03-3290-1137</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.kitacom.co.jp/" target="_blank">北日本コンピューターサービス株式会社</a></td>
                                    <td>関東営業部</td>
                                    <td>048-640-1855</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.canon-esys.co.jp/" target="_blank">キヤノンエスキースシステム株式会社</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>03-6811-0001</td>
                                </tr>
                                <tr>
                                    <td>株式会社KSK</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="http://funkit.co.jp/" target="_blank">株式会社Funkit</a></td>
                                    <td>西川勝巳</td>
                                    <td>03-5956-5035</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.g-advance.co.jp/" target="_blank">株式会社グローバル・アドバンス</a></td>
                                    <td>大野和人</td>
                                    <td>03-5543-3682</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.saslite.com/" target="_blank">株式会社サスライト</a></td>
                                    <td>新垣ひとみ</td>
                                    <td>03-5275-0123</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.satellite-tech.co.jp/" target="_blank">株式会社サテライトテクノロジーズ</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>03-6854-0758</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.suncreer.co.jp/" target="_blank">株式会社サンクレエ</a></td>
                                    <td>森島一郎</td>
                                    <td>03-4455-7240</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.syspla.co.jp/" target="_blank">株式会社シスプラ</a></td>
                                    <td>槇野哲</td>
                                    <td>027-363-8377</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.tdi.co.jp/" target="_blank">情報技術開発株式会社</a></td>
                                    <td>営業本部　iDC&amp;セキュリティ営業グループ</td>
                                    <td>03-3372-9823</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.censys.co.jp/" target="_blank">株式会社センチュリー・システムズ</a></td>
                                    <td>企画推進部 GO-Globalライセンス担当</td>
                                    <td>03-6256-8150</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.softsoken.co.jp/" target="_blank">ソフト総研株式会社</a></td>
                                    <td>尾内孝博</td>
                                    <td>044-750-0144</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.doublesharpplus.com/" target="_blank">株式会社ダブルシャーププラス</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>03-6274-8700</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.technicalunion.com/" target="_blank">株式会社テクニカル・ユニオン</a></td>
                                    <td>システム技術部　松井</td>
                                    <td>03-6264-2620</td>
                                </tr>
                              
                                <tr>
                                    <td><a href="http://www.jcsoft.co.jp/" target="_blank">日本流通ソフト株式会社</a></td>
                                    <td>小池昌弘</td>
                                    <td>03-5624-3566</td>
                                </tr>
                                <tr>
                                    <td>株式会社パスコ</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.b-appli.co.jp/" target="_blank">株式会社ビジネスアプリケーション</a></td>
                                    <td>浪江豊</td>
                                    <td>03-3577-8828</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.human-ware.co.jp/" target="_blank">株式会社ヒューマンウェア</a></td>
                                    <td>山下憲男</td>
                                    <td>03-5282-7511</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.hoster.jp/" target="_blank">株式会社Hoster-JP</a></td>
                                    <td>営業部</td>
                                    <td>03-5977-0888</td>
                                </tr>
                                <tr>
                                    <th colspan="3">中部</th>
                                </tr>
                                <tr>
                                    <td><a href="http://www.geoinfo.co.jp/" target="_blank">株式会社ジオインフォシステム</a></td>
                                    <td>湯浅剛</td>
                                    <td>076-471-8211</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.netbloom.jp/" target="_blank">有限会社ネットブルーム</a></td>
                                    <td>前田為次郎</td>
                                    <td>052-587-1378</td>
                                </tr>
                                <tr>
                                    <th colspan="3">近畿</th>
                                </tr>
                                <tr>
                                    <td><a href="https://www.esector.co.jp/" target="_blank">株式会社イーセクター</a></td>
                                    <td>西日本事業グループ</td>
                                    <td>06-6396-3353</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.k-opti.com/" target="_blank">株式会社オプテージ</a></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th colspan="3">中国</th>
                                </tr>
                                <tr>
                                    <td>セコム山陰株式会社</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.toasoft.co.jp" target="_blank">東亜ソフトウェア株式会社</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>0859-34-3040</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.hitachi-solutions-west.co.jp/" target="_blank">株式会社日立ソリューションズ西日本</a></td>
                                    <td>柴崎仁志</td>
                                    <td>082-511-8261</td>
                                </tr>
                                <tr>
                                    <th colspan="3">九州・沖縄</th>
                                </tr>
                                <tr>
                                    <td><a href="http://www.occ.co.jp/" target="_blank">株式会社オーシーシー</a></td>
                                    <td>データビジネス事業本部</td>
                                    <td>098-876-1171</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.jmusystems.co.jp/" target="_blank">株式会社JMUシステムズ</a></td>
                                    <td>お問い合せ窓口</td>
                                    <td>096-865-7335</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                <div class="heading">

              </div>

                {{ end }}

            </section>



        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}

        </div>

    <!-- /.row -->
</div>
