<main>
    <div class="general-content-wrapper max-width philosophy">
        <h1 align=center>きっとエイエスピー理念</h1>
        <div class="general-content">
            <p class="lead">『当社は国の内外を問わず最高技術と高満足サービスを付加した最高品質のITソリューションを顧客に提供することで社会経済の発展に寄与する。』</p>
            <p>経営理念を実践するために次の目標を掲げて日々実践していきます。</p>
            <ol>
                <li>高付加価値を実現するために本当に必要な解決策をご提示するために世の中に無いものは作ります。</li>
                <li>高品質な技術サービスを提供するために最新技術や究極のサービスを追求し続けます。</li>
                <li>お客様の高満足を実現するためにお客様と社員が一緒になって成長と喜びを共有できる組織作りに励んでまいります。</li>
            </ol>
        </div>
    </div>
</main><!-- main -->