<div class="container" id="contact">


    <section>

        

        {{ if isset .Site.Params "email" }}

        <div class="heading">
            <main>
                <main>
                    <div class="general-content-wrapper max-width philosophy">
                        <h1 align=center>きっとエイエスピー個人情報保護方針</h1>
                        <div class="general-content">
                          <p align=right><br />
                          制定年月日　2019年6月3日<br /> 
                          最終改正年月日　2019年6月3日<br />
                          株式会社きっとエイエスピー<br />
                          代表取締役 岩室　圭一<br />
                        </p>
                        <p> 
                        当社は、当社が取り扱う全ての個人情報の保護について、社会的使命を十分に認識し、本人の権利の保護、個人情報に関する法規制等を遵守します。また、以下に示す方針を具現化するための個人情報保護マネジメントシステムを構築し、最新のIT技術の動向、社会的要請の変化、経営環境の変動等を常に認識しながら、その継続的改善に、全社を挙げて取り組むことをここに宣言します。<br />
                        </p>
                            <ol type="a">
                                <li>個人情報は、クラウド/アプリケーション配信に関連する製品開発、販売及びコンサルティングサービスの提供業務における当社の正当な事業遂行上並びに従業員の雇用、人事管理上必要な範囲に限定して、取得・利用及び提供をし、特定された利用目的の達成に必要な範囲を超えた個人情報の取扱い（目的外利用）を行いません。また、目的外利用を行わないための措置を講じます。</li>
                                <li>個人情報保護に関する法令、国が定める指針及びその他の規範を遵守致します。</li>
                                <li>個人情報の漏えい、滅失、き損などのリスクに対しては、合理的な安全対策を講じて防止すべく事業の実情に合致した経営資源を注入し個人情報セキュリティ体制を継続的に向上させます。また、個人情報保護上、問題があると判断された場合には速やかに是正措置を講じます。</li>
                                <li>個人情報取扱いに関する苦情及び相談に対しては、迅速かつ誠実に、適切な対応をさせていただきます。</li>
                                <li>個人情報保護マネジメントシステムは、当社を取り巻く環境の変化を踏まえ、適時・適切に見直してその改善を継続的に推進します。</li>
                            </ol>
                            <p align=right><br />
                            以上
                            </p>
                
                            <h3 class="lead" align=left>【お問合せ窓口】</h3>
                            <p>個人情報保護方針に関するお問合せにつきましては、下記窓口で受付けております。</p>
                            <p align=left>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;株式会社きっとエイエスピー 　個人情報問合せ窓口
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;〒102-0083 東京都千代田区麹町5-3-3 麹町ＫＳスクエア6階
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEL：03-3350-9300
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAX：03-3263-3088
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;privacy@kitasp.com
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9:00～18:00
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;土・日曜日、祝日、年末年始
                            </p>
                        </div>
                    </div>
                </main><!-- main -->

      </div>

      {{ end }}

    </section>



<div class="col-md-4">

    {{ if isset .Site.Params "address" }}
    <section>



    </section>

    {{ end }}

</div>

  <!-- /.row -->
</div>
