<main>
    <div class="general-content-wrapper max-width representative-greetings">
        <div class="general-content">
            <h1>きっとエイエスピー代表あいさつ</h1>
            <p>きっとエイエスピーはアプリケーションをいつでもどこでも利用できるAnywhereを実現する会社として設立しました。<br>
            社名にもなっているASPという技術の名称も今ではSaaSと呼び名を変えて知られている事かと思います。<br>
            しかし周りを見渡すとその便利な技術は大企業や都市圏を中心にだけ広まっており、中小企業や地方の方々には中々浸透していません。<br>
            労働人口の減少が社会問題となっており、私たちの技術を何とか世の中に役に立てないだろうか、そのような想いが弊社の原点なる想いです。<br>
            ここにAI、RPA、IoT、Cloudといった様々な技術を組み合わせることにより皆様の日常での問題をささやかながら解決するお手伝いすることが出来ればこれに勝る喜びはございません。<br>
            <br>
            そのために社員一同学び、お客様へ寄り添った一体感あるサービスをご提供するべく日々全力で取り組んでいく次第でございます。<br>
            <br>
            株式会社きっとエイエスピー<br>
            代表取締役　岩室圭一
            </p>
        </div>
    </div>
</main><!-- main -->