<section class="bar background-image-fixed-20 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
  <div class="row">
  <div class="col-md-12">

    <h1>実際にインターネット分離を導入した際の費用と構成をご紹介</h1>
    <br>
  </div>
  </div>
  </div>
  </section>

<div class="wrapper content-wrapper">

    <div class="content">

      <div class="heading">
      <main>
        <div class="general-content-wrapper max-width function-introduction">
            <div class="general-content">
              <br>
              <h2>セキュリティを守るインターネット分離。実際に導入するといくらかかるのでしょうか。</h2>
              <br>
            <p style="color:black; background-color:#d5e9ed; padding: 15px">
              もくじ<br>
              <a href="#1" style="color:black;">1　<u>インターネット分離とは…おさらい</u></a><br>
              <a href="#2" style="color:black;">2　<u>GO-Globalのインターネット分離の仕組み</u></a><br>
              <a href="#3" style="color:black;">3　<u>GO-Globalの構成と特徴</u></a><br>
              <a href="#4" style="color:black;">4　<u>GO-Globalの価格例</u></a>
            </p>

          <br>
          <div id = '1'>
            <h3>1.インターネット分離とは…おさらい</h3>
            <p>
              インターネット分離とは、社内専用の業務用アプリケーションと外部に繋がるインターネットを分け、
              社内のシステムをウィルスの攻撃から守る仕組みを言います。
              詳しくはこちら　<a href="/web-separation/#1-1/"target=”_blank”>インターネット分離とは</a>
            </p>
            <h4>WEB分離（インターネット分離）</h4>
            <br>
          </div>
          <br>
          <div id = '2'></div>
            <h3>GO-Glbalを活用したインターネット分離の仕組み</h3>
            <p>すでに、物理分離でインターネットを分離して使用している企業様や組織もいらっしゃると思います。</p>
            <p>インターネット分離（物理分離）</p>	
            <img class="img2" src="/img/bunri01.gif" width="600" height="700" alt=""/>
            <p>
              しかし、業務用アプリケーションと、インターネット接続が
              物理的に別々だと、移動して作業を行なわないといけないため、作業効率が落ちてしまいます。
              また、端末が人数に対して少ない場合は作業をするのに順番待ちが
              発生してしまう可能性もあります。 GO-Globalなら低コストで、素早く理論分離を導入することが可能です。
            </p>
            <img class="img2" src="/img/bunri02.gif" width="600" height="700" alt=""/>
				    <p>
              では、GO-Globalのインターネット分離は一体どのような仕組みになっているでしょうか。
            </p>
            <div id = '3'></div>
            <h3>3　GO-Globalの構成と特徴</h3>
            <p>
              GO-Globalのサーバーを設置しインターネットに接続します。
              画面の描画をGO-Globalクライアントへ転送してインターネットを閲覧することができます。
              <a href="/go-global/#4-1" targe="_brank">画像転送の仕組みはコチラ。</a>
            </p>
            <img class="img2" src="/img/bunri03.gif" width="600" height="600" alt=""/>
        	  <p>
              上記の状態では、ウィルスに対しての攻撃には対応できません。実際には、GO-Globalサーバーからファイルサーバーへデーターなどを
              ダウンロードして無害化（別ソリューションとなります）してからGO-Globalクライアントで閲覧できるようにします。
            </p>
            <img class="img2" src="/img/bunri04.gif" width="800" height="600" alt=""/>
            <p>
              Go-Globalは、<span style="color: #F90C10">※RDS</span>に依存せずに動作しています。<br>
              他社製品を試してみたが、「うまく動かなかった」「不具合がある」「操作性能が悪く業務が円滑にできない」
              などの問題があった場合GO-Global for Windowsをお試しください。
            </p>
            <p style="color:black; background-color:#fff0f5; padding: 15px">
            <span style="color: #FD0206">※</span>RDS：市場に流通しているシンクライアント製品のほとんどがRDSを内蔵する形で開発されたものあり、
            RDSの機能およびRDSが持つ技術的問題も共有してしまっているのが現状です。GO-Globalは、開発会社GraphOn社が、RDSを利用することなく独自のアーキテクチャにより開発したものであり、
            RDSに依存する他社製品とは一線を画する機能と性能を持っていますので、他社製品で上手く動作しなかったなどで、インターネット分離をあきらめている場合はぜひお試しください。
            </p>
	    <div id = '4'></div>
        <h3>4.GO-Globalの価格例</h3>社員数50人程度のメーカー事例：

        <p>
          インターネットで調べものをしたい際には、インターネット専用の端末で閲覧、印刷をしていました。
          インターネット専用の端末は3台程度しかなく、社員のあいだで検索や資料の閲覧のために端末待ちをしなければなりませんでした。
          生産性も落ちそのために残業する職員も発生していました。
          以前、他社製品でインターネット分離ができないか検討したもののアプリケーションがうまく動作しなかった為、
          導入をあきらめてしまった経緯がありました。そこで、GO-Global製品で大まかな見積もりをとってみたところ以下のようになりました。
        </p>
				<p>同時ユーザー最大で20人～30名を想定</p>
			
        <table width="50%" border="1px solid black" style="margin: auto auto auto 0px;">
          <tbody style="padding-left: 0px;">
          <tr style="padding-left: 0px;">
          <td style="background-color: #d5e9ed; padding-left: 0px; text-align: center;" colspan="2" width="300">利用環境</td>
          </tr>
          </tbody>
          <tbody style="padding-left: 0px;">
          <tr style="padding-left: 0px;">
          <td style="padding-left: 5px;">同時接続ユーザー</td>
          <td style="padding-left: 0px; text-align: center;">20~30人</td>
          </tr>
          </tbody>
          <tbody style="padding-left: 0px;">
          <tr style="padding-left: 0px;">
          <td style="padding-left: 5px;">総ユーザー数</td>
          <td style="padding-left: 0px; text-align: center;">40~50人</td>
          </tr>
          </tbody>
          <tbody style="padding-left: 0px;">
          <tr style="padding-left: 0px;">
          <td style="padding-left: 5px;">利用アプリ</td>
          <td style="padding-left: 0px; text-align: center;">1</td>
          </tr>
          </tbody>
          </table>
		<br><br>
    <style>
      table {
        width:100%;
      }

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        vertical-align:top;
        padding: 8px;}
      </style>
<br><br>
      <table width="100%">
        <thead>
          <tr style="text-align:center">
            <th width="434" align="left" bgcolor="#D5E9ED">自社内サーバー／年間費と初期費用</th>
            <th width="131" bgcolor="#D5E9ED"><strong>価格</strong></th>
            <th width="73" bgcolor="#D5E9ED"><p>個数または月額</p></th>
            <th width="164" bgcolor="#D5E9ED">トータル</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th align="left">（1）Go-Globalサーバ(8コア、32GB、HDD300GB×2(RAID1構成))（Windows OS含む)　初期費用</th>
            <td>28万~34万</td>
            <td align="center">1</td>
              <td>28万~34万</td>
            </tr>

              <tr>
                <th align="left">（2）Windows Server User CAL 2019 MLP 　年間費用</th>
                <td>¥5,200</td>
                <td align="center">50</td>
                  <td>¥260,000</td>
            </tr>
              <tr>
                <th align="left">（3）NAS本体　25,000円前後
                　HDD1TB　8,000円前後×2個　初期費用
                </th>
                <td>¥41,000</td>
                <td align="center">1</td>
                <td>¥41,000</td>
              </tr>
              <tr>
                <th align="left">（4）ライセンス料 ・オフィス365利用人数×月利用料 GO-Global+実費(構築手数料、ドキュメント各種同時接続ユーザーライセンス料　年間費用</th>
                <td>5万~7万</td>
                <td align="center">～50</td>
                <td>約~¥2,800,000</td>
          </tr>
              <tr>
                <th colspan="3" align="right">合計</th>
                <td>約~¥3,441,000</td>
              </tr>
          </tbody>
          </table>
<br>

<p>初期費用は約350万程度となります。翌年からは、維持費として~280万程度となります。
人数や、サーバーのスペックなどでも価格は変動しますので、お気軽にお問合せください</p>

<div class="boxmatome">
<div class="box-title">まとめ</div>
                        <p>
                          ゴーグローバルのインターネット分離にご興味がありましたらお気軽にご相談ください。
                          <a href="contact" target="_blank"rel="noopener">コンタクトフォーム</a>よりお気軽にお問い合わせてください。
                          <br>
                        </p>
                      </div>
			</div>
    </main><!-- main -->
    </div>
    </div><!-- .content -->
    
        </div><!-- .wrapper -->