
<!--
<ul class="slidepic">
    <li><a href="#"><img src="/img/carousel/goglobal.jpg" alt="image01"></a></li>
    <li><a href="#"><img src="/img/carousel/case.jpg" alt="image02"></a></li>
    <li><a href="#"><img src="/img/carousel/.jpg" alt="image03"></a></li>
    <li><a href="#"><img src="/img/carousel/goglobal.jpg" alt="image04"></a></li>
</ul>

<div class="slidepic">
    <div><img src="/img/carousel/goglobal.jpg" width="500" height="300" alt=""></div>
    <div><img src="/img/carousel/goglobal.jpg" width="500" height="300" alt=""></div>
    <div><img src="/img/carousel/goglobal.jpg" width="500" height="300" alt=""></div>
    <div><img src="/img/carousel/goglobal.jpg" width="500" height="300" alt=""></div>
</div>
-->

    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
                <div class="item">
                    <div class="row">                        
                        <div class="col-md-12">
                            <div class='slidepic'>
                                <div class="goglobal">
                                    <img src="/img/carousel/goglobal.jpg" width="" height="" alt="">
                                    <a class="btn-square-shadow">GO-Globalについて詳しく見る</a>
                                </div>
                                <div class="tele">
                                <img src="/img/carousel/tele.jpg" width="" height="" alt="">
                                <a class="teletext">柔軟な働き方を目指す<br>中小企業やテレワークや<br>リモートワークの<br>導入支援をいたします。</a>
                                <a class="btn-square-shadow">テレワークについて詳しく見る</a>
                                </div>
                                <div class="casepic">
                                <img src="/img/carousel/case.jpg" width="" height="" alt=""> 
                                <a>導入事例<br>病院、学校、ソフトウエアのクラウド化、中小企業</a>
                                </div>
                                <div class="websepa">
                                <img src="/img/carousel/websep.jpg" width="" height="" alt="">
                                <p>情報セキュリティを対策を強化<br>情報漏洩や外部攻撃を</p>
                                <a class="btn-square-shadow">インターネット分離について詳しくみる</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            <!-- /.project owl-slider -->

        </div>
    </div>
