
<section class="bar background-image-fixed-22 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>-->
                <h1 class="text">サポートの流れ</h1></div>
        </div>
    </div>
  </section>
<div class="container" id="contact">


            <section>

                

                {{ if isset .Site.Params "email" }}
                <div class="general-content-wrapper max-width support-schedule">
                    <div class="general-content">
		


<div class="center">
<img src="/img/support-f.png" alt="サポートの流れ" style="width:100%;" />
</div>













                {{ end }}

            </section>

 </div>
 
    

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}

        </div>

    <!-- /.row -->
</div>

 </div>
 
    

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}

        </div>

    <!-- /.row -->
</div>

