<div class="container" id="contact">


            <section>

                

                {{ if isset .Site.Params "email" }}
                <div class="general-content-wrapper max-width support-schedule">
                    <h1>サポートの流れ</h1>
                    <div class="general-content">
						
						
						<img src="support-f.png">
						
                      

                {{ end }}

            </section>

 </div>
 
    

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}

        </div>

    <!-- /.row -->
</div>
