<section class="bar background-image-fixed-14 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
              </div>-->
              <h1 class="text">社内の独自アプリケーションを在宅勤務者に<br>素早く配信。テレワークを円滑に。</h1>
          </div>
      </div>
  </div>
</section>
<div class="container" id="contact">
            <section>
                {{ if isset .Site.Params "email" }}
                <div class="heading">
                  <main>
                    <div class="general-content-wrapper max-width function-introduction">
                        <div class="general-content">
                            <br>
                            <p>
                              感染症発生等の事態に対応するため「出社制限」や急きょ、「テレワーク」「在宅ワーク」を実施した企業も多いと思います。
                              しかし、実際テレワークを検討しても、体制が整わず仕事が滞る、導入してもトラブルが多く生産性が落ちているといった、悩みを抱えている企業様も多く見受けられます。
                            </p>
                            <p>

●コストが高くて導入できない<br>●構築が複雑で社内で対応できる人がいない<br>●導入までに時間がかかる<br>●在宅社員のネットワーク環境に不安がある<br>●セキュリティーが心配<br>
                              このようなお悩みで、導入を躊躇している企業様はぜひGO-Globalをご検討ください。<br><br>
                            </p>
                              <p class="list" style="color:black; background-color:#d5e9ed; padding: 15px">

もくじ<br>
                              1&emsp;<a href="#1-1">コストが高くて導入できない</a><br>
                              2&emsp;<a href="#1-2">構築が複雑で社内で対応できる人がいない</a><br>
                              3&emsp;<a href="#1-3">導入までに時間がかかる</a><br>
                              4&emsp;<a href="#2-1">在宅社員のネットワーク環境に不安がある</a><br>
                <!--              <a href="#2-2">導入まで時間がかかるので躊躇している</a><br>-->
                              5&emsp;<a href="#2-3">セキュリティーが心配</a><br>
                              6&emsp;<a href="#2-4">GO-Globalの構成図</a><br>
                              7&emsp;<a href="#2-5">導入事例</a><br>
                            </p>
                            <p>
                              GO-Globalなら、上記のお悩みを解決し、お客様が安定してビジネスを継続することができます。また、業務に必要なアプリケーションに対する任意のデバイスからのアクセスを安全に実現できます。
                            </p>
                
                            <br>
                
                <style>
                  h3 {
                    display: inline-block;
                    border-bottom: solid 5px #467fbf;
                    line-height: 1.1;
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    vertical-align: middle;
                    letter-spacing: 0.06em;
                  }
                 </style>
                <div class="img2">
                
                            <div id = '1-1'>
                              <h3>1&emsp;コストが高くて導入できない</h3><br>
                              <h4>→ GO-Globalはライセンスに無駄がないので余計なコストがかかりません。
                              </h4>
                                  <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/1000-01.jpg" width="600">
                                  <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/1000-02.jpg" width="300">
                                  <p>
                                    アプリケーションを使用はするが、普段接続しない900人分のコストはカットできます。
                                    常時接続のユーザー数を増やしたい場合も簡単に5ユーザー分から増減できるので
                                    会社の運用体制に合わせてフレキシブルに変更できます。
                                  </p>
                            </div>
                            <br>
                            <div id = '1-2'>
                              <h3>2&emsp;構築が複雑で社内で対応できる人がいない</h3><br>
                              <h4>
                                → GO-Globalは他社よりもシンプルなシステム構成です
                              </h4>
                              <p>
                                GO-Globalは、他社製品と違いRemote Desktop Serviceに頼らない技術です。
                            他社製品では最小構成でも3台のサーバーに対してそれぞれのコンポーネントの
                            インストールが必要になり、利用開始までには数多くの行程が必要です。
                            GO-Globalは、独自技術で開発された技術により構築・運用も簡単です。
                            最小構成ではGO-Globalホストサーバー1台で利用する事が可能で、構築・運用するためのADサーバーは必須ではありませんのでWorkgroup環境での利用も可能です</p>
                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/server.jpg" width="300">
                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/server02.jpg" width="300">
                            </div>
                                            <div id = '1-3'></div>
                                              <h3>3&emsp;導入までに時間がかかる</h3><br>
                                              <h4>→ インストールから利用開始まで30分～60分で完了
                                              </h4>
                
                                              <p>
                                                他社製品の場合、インストールから利用開始まで半日ほどかかる作業が
                                                GO-Globalならわずか数十分で利用可能です。
                                                </p>
                                              <p>
                                                GO-Globalのインストールは「install」ボタンを押して数分で完了します。
                                                利用者に公開するアプリケーションの設定もAdminConsole管理画面で簡単に行えます。
                                              </p>
                                              <p>
                                                他社製品の場合はインストール前後に多くの設定を行う必要があり、構築手順を確認しながら進めて行かなければなりません。      </p>
                                              <h4>
                                                インストール画面
                                              </h4>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/ins01.jpg" width="300">
                                              <h4>
                                                AdminConsole管理画面
                                              </h4>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/ins02.jpg" width="300">
                
                
                                              <div id = '2-1'>
                                              <h3>4&emsp;在宅社員のネットワーク環境に不安がある</h3><br>
<h4>→独自技術でストレスなく配信</h4> 
                                              <p>
                                                GO-Globalの配信方式はAPIラッピング方式を採用しています。サーバー上のアプリケーション画面の画像情報をもとにクライアント上で再現しています。画像情報を利用して描画しているため、クライアント側のネットワークが不安定でもストレスなく作業ができます。
                                              </p>
                                              <p>
                                                いくら、テレワーク環境を整えても、社員の家の環境まではコントロールできません。
                                                どんな環境でも負荷なくアプリケーションを使えるようにするには、画像の配信方式にも気を付ける必要があります。
                                              </p><br>
                                              <h4>
                                                他社製品のシンクライアントシステムは、画像転送方式を使用しているからデーター配信に負荷がかかる。
                                              </h4>
                                              <p>
                                                画像転送方式は、アプリケーションの実行などはサーバー上で行い、クライアントには画面情報のみを送ります。サーバーにはクライアント上でのマウスとキーボードの操作情報を送ります。
                                                この方法は高い情報保護能力をもちます。 しかし、画面情報量が多いアプリケーションではネットワーク帯域を圧迫し、 レスポンスの低下の原因となり、使用感にストレスを感じます。
                                              </p>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/function-introduction02.png" width="300">
                                              <h4>
                                                GO-GlobalのAPIラッピング方式とは。                                             </h4>
                                              <p>
                                              APIラッピング方式とは、サーバーとクライアント間で画面情報をビットマップで送受信するのではなく、画面の描画命令をクライアントへ送信する技術です。
                                            </p>
                
                                          <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/function-introduction01.png" width="300">
                                          <p>
                                          社内ネットワーク内での通信はネットワーク帯域に余裕があるため画像転送方式と比べると大きな差は感じられないかもしれません。社外からアクセスする場合は各社員それぞれのネットワーク環境は異なり必ずしも恵まれたネットワーク帯域を確保できるとは限りません。どんな環境でもストレスなくアプリケーションが動かせるAPIラッピング方式は、テレワークには最適な配信方式と言えるでしょう。
                                        </p>
                                      </div>
                <!--
                                            <div id= '2-2'>
                                              <h3>5&emsp;導入まで時間がかかるのでためらっている</h3>
                                              <p>GO-Globalなら契約から1週間で運用できます。</p>
                                              <p>GO-Globalは社員の皆さんが業務で通常に使えるまで契約から7日で開始できます。</p>
                                              <p>他社製品だと、半年以上かかることも</p>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/03.png" width="200"></a>
                                          </div>
                    -->                      
                                          <div id='2-3'>
                                            <h3>5&emsp;セキュリティーが心配</h3><br>
                                                <h4>サーバー上でデーターを一元管理、端末にデーターを残しません。</h4>
                                                <p>
                                                  端末がウィルスの攻撃にあってもサーバー上のファイルを直接参照することは出来ないため、大事なデーターを盗まれたり破壊されるリスクを下げることが可能です。
                                                </p>
                                                <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/function03.jpg" width="200"></a>
                                                <p>
                                                  GO-Globalの通信プロトコルRapid-XはGraphOn社の独自の技術となり仕様は公開されていません。さらにGO-Globalはサーバー画面ではなく描画処理のデーターを通信しているため第三者に覗かれた場合でも解読することは困難です。                                </p>
                                                  <p>
                                                    他社製品ではMicrosoftのリモートデスクトップの機能を利用して端末に配信しています。
                                                    機能の通信プロトコルは公開されているので、リモートデスクトップの仕様を解読し攻撃を受ける場合があります。
                                                  </p>
                                              </div>
                                              <div id='2-4'></div>
                                              <h3>6&emsp;GO-Globalの構成図</h3>
                                              <p>
                                                実際にGO-Globalはどういった構成になるのでしょう。
                                                モデルケースをご紹介します。
                                              </p>
                                              <p>
                                                通常は自宅や外出先から社内のアプリケーションに接続することはできません。
                                              </p>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/mae.png" width="200"></a>
                                              <p>
                                                社外から社内のアプリケーションに接続する際はGO-Globalサーバーに一度接続し
                                                アプリケーションを起動して作業します。
                                              </p>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/ato.png" width="200"></a>
                                              <h3>GO-Globalは端末を選びません</h3>
                                              <p>
                                                GO-Globalなら「iPadでエクセルを使いたい」「外出先からモバイルで入力作業をしたい」 といった場合にデバイスを選ばず使用することができます。
                                                最小構成では1台のサーバーにのみ利用したいデーターやアプリをインストールすることで使用可能です。 iPad/iPhone/Androidからは専用アプリでログインし、スムーズに操作ができます。
                                              </p>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/function01.jpg" width="200"></a>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/iPhone.png" width="200"></a>
                                            </div>
                                              <div id='2-5'></div>
                                              <h3>7&emsp;導入事例</h3>
<p>
                                              <img class="img2" src="https://www.kitasp.com/wp-content/themes/kitasp/images/telework/jirei.jpg" width="200"></a>
                
                                                <h4>100人規模の工場部品設計企業様
                                                社内アプリケーションをGO-Globalで運用
                                              </h4>
                </p>
                                              <br>
                                              <p>
                                                新型コロナウイルス感染拡大に伴う政府の「緊急事態宣言」を受け、全社員、在宅勤務への切り替えが急務になりました。
                                              </p>
                                              <p>
                                                そこで、クラウド化を検討したものの時間や予算の関係からGO-Globalでテレワーク化を進めて行くことにしました。
                                                まずは、社内で使用している専用アプリケーションをサーバーに設置。
                                                自宅から、VPNで社内アプリケーションにアクセスし利用できるように設定しました。
                                                このような構成の場合、大事なデーターは端末に残らないので、セキュリティー面でも安心です。
                                                端末側は、GO-Globalクライアントを起動し、普段と変わりなく、会社社のアプリケーションを使用でき、社員は利用環境を意識することなく業務を行う事ができました。                              </p>
                                              <p>
                                              他社から話を伺うと、テレワークのため同じような環境を導入したが社員一人一人のネットワーク環境が異なるので円滑に作業する事が出来ない。「緊急事態宣言」により在宅ユーザーが増えたためネットワーク帯域が圧迫され通信状態が不安定になった。などといった話を聞いていましたがGO-GlobalはAPI方式で配信していたので、ネットワーク帯域に影響を受けずに誰もがスムーズに業務が行えました。</p><br>
                                                <div class="boxmatome">
                                                  <div class="box-title">詳しい内容についての問い合わせについて</div>
                                                  <p>
                                                    <a href='contact'>コンタクトフォーム</a>よりお気軽にお問い合わせてください。
                                                    <br>担当のエンジニアが対応させていただきます。
                                                  </p>
                                                </div>
                                              </div>
                
                                            </div>
                                          </div>
                </div>
                                      </div> <!--general-content-->
                
                        </div>
                
                </main><!-- main -->
                
              
              </div>
                {{ end }}
            </section>



        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}

        </div>

    <!-- /.row -->
</div>
