<section class="bar background-image-fixed-5 no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
              </div>-->
              <h1 class="text-uppercase">シンクライアント</h1>
              <p>
                GO-Globalにより利用しているFat-PC端末をシンクライアント化
              </p>

          </div>
      </div>
  </div>
</section>
<div class="container" id="contact">
            <section>

                

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                  <main>
                    <div class="general-content-wrapper max-width web-separation">
                    <div class="general-content">
                      <h4>情報システムに必要不可欠なシンクライアントソリューション</h4>
                        <p>
                          昨今の情報システムの周辺は急激な変化に巻き込まれ、
                          そこを担当する部門は様々な課題に対処する必要に迫られています。<br>
                          Fat-PCと呼ばれてる一般端末からThinClient端末と呼ばれる専用端末に置き換える企業も少なくありません。<br>
                          利用者に複数台所持させることやコスト、操作の利便性を損なう事もあり課題が多いのも事実です。<br>
                          そこでGO-GlobalソフトウェアによりFat-PCをシンクライアントに変化させることにより初期の導入コストを大幅に下げる事が可能になります。</p>
                        </p>
                        <h4>GO-Globalによりシンクライアントソリューションで様々な課題を解決</h4><br>
                        <b>情報システムが抱えている下記の課題は全て解決が可能です</b>
                        <ul style="padding: 3px">
                        <li style="padding: 3px">リモートによる情報システム利用</li>
                        <li style="padding: 3px">在宅業務利用</li>
                        <li style="padding: 3px">業務アプリケーションのWeb化（クラウド化）</li>
                        <li style="padding: 3px">業務アプリケーションの延命</li>
                        <li style="padding: 3px">情報漏洩などのセキュリティ対策</li>
                        <li style="padding: 3px">TCO削減</li>
                        <li style="padding: 3px">事業継続性</li>
                        </ul>
                        <h3>なぜGO-Globalなのか</h3>
                        <img class="img2" src="/img/thin-client-2.jpg">
                        <p>
                          他社ベンダーのソリューションと比較してGO-Globalが優れている点は「APIラッピング」と呼ばれる独自プロトコルを採用している点です。他社ベンダーのソリューションは画面転送で使われる帯域分インフラを増強する必要があり、APIラッピングの場合帯域の中を流れるものは描画コマンドのみのためインフラを増強する必要がありません。<br>
                          またGO-Globalはリモートデスクトップサービス(旧名：ターミナルサービス)を利用することがないのでAD、コネクションブローカー、セッションホストサーバも必要としません。Workgroup環境でシンクライアント環境を構築できるのは強みです。
                        </p> 
                      </div>
                    </div>
                    </main><!-- main -->
              </div>
                {{ end }}
            </section>



        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}

        </div>

    <!-- /.row -->
</div>
