<section class="bar background-image-fixed-4 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>-->
                <h1 class="text-uppercase">働き方改革 | GO-Globalで柔軟な働き方が実現できます</h1>
            </div>
        </div>
    </div>
</section>
<div class="container" id="contact">


            <section>

                

                {{ if isset .Site.Params "email" }}
            
                <div class="general-content-wrapper max-width work-style-reform">
                    <div class="general-content">
                        <div class="block1">
                            <div class="block1">
                                <div class="title"　>
                                <h1>働き方改革とは</h1>
                                </div>
                                <div class="content">
                                    少子高齢化対策のひとつとして、政府主導の改革。<br />
                                    長時間対策、生産性の向上、子育て支援などの効果が上がることを期待されている。
                                </div>
                            </div>
                            <div class="block1">
                                <div class="title">
                                テレワークとは
                                </div>
                                <div class="content">
                                    「テレ（tele） = 離れた場所」と「ワーク（work） = 働く」を組み合わせた造語。テレワークとは、<br />
                                    ICT（情報通信技術）を活用して、時間と場所を有効に活用できる柔軟な働き方。<br />
                                        <ul>
                                            <li>モバイルワークス…ノートPC、タブレット、スマートフォンを利用してネットワークに接続して時間と場所を選ばずに仕事を行う形態の事</li>
                                            <li>在宅ワーク…会社に出勤せずに自宅のデスクトップPCやノートPCにて勤務先のシステムに接続して仕事を行う形態の事</li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                        <h2>テレワークを実現させるために必要な事</h2>

                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-5 col-sm-5">
                                <div class="block2">
                                <div class="image"><img src="img/work-style-reform-application.png"></div>
                                </div>
                                <br>
                                <div class="block1">
                                <div class="title">アプリケーション</div>
                                </div>
                                <div class="content">社内で利用しているアプリケーションをOSや端末に依存せずに使えるようにする </div>                            
                        </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="block4">
                                <div class="image"><img src="img/work-style-reform-Plus.png"></div>
                            </div>
                        </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="block2">
                                <div class="image"><img src="img/work-style-reform-security.png"></div>
                            </div>
                            <div class="block1">
                                <div class="title">セキュリティ</div>
                            </div>
                                <div class="content">アプリケーションデータを社外に持ち出せないようにすること</div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="block3">
                        <div class="arrow"><img src="img/work-style-reform-arrow1.png"></div>
                        <h2 class="black">モバイルワークスの課題</h2>
                    </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block2">
                            <div class="image"><img src="img/work-style-reform-application.png"></div>
                            </div>
                            <div class="block1">
                            <div class="text">
                                    <div class="title">アプリケーション</div>

                                    <div class="content">
                                        ・Windowsアプリケーション<br />
                                        ・IE依存のアプリケーション
                                    </div>
                                </div>
                        </div>
                    </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="block2">
                                    <div class="image"><img src="img/work-style-reform-security.png"></div>
                                    </div>
                                    <div class="block1">
                                    <div class="text">
                                        <div class="title">セキュリティ</div>
                                        <div class="content">
                                            リモートで社内システムに入る為、社内データへのアクセス
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <br>
                            <div class="col-md-3 col-sm-3">
                                <div class="block1">
                                <div class="header">従来の課題</div>
                            </div>
                                    <div class="content">
                                    ・Windowsアプリケーション<br />
                                    　マルチデバイス用のアプリケーションに改修するのは困難<br />
                                    <br />
                                    ・IE依存のアプリケーション<br />
                                    　マルチブラウザ用のアプリケーションに改修するのは困難
                                    </div>
                                
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="block3">
                                <div class="img2"><img src="img/work-style-reform-go-global1.png"></div>
                                    <div class="content">
                                    ・Windowsアプリケーション<br />
                                    ・IE依存のアプリケーション<br />
                                    <span class="red">GO-Globalの仮想化技術を利用すれば変更なしに利用することが可能</span>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="block1">
                            <div class="header">従来の課題</div>
                                </div>
                                <div class="content">
                                ・セキュリティ対策を講じる必要がある<br />
                                <br />
                                ・社外へのデータの漏洩の心配
                                </div>
                             </div>  
                            <div class="col-md-3 col-sm-3">
                                <div class="block3">
                                <div class="img2"><img src="img/work-style-reform-go-global1.png"></div>
                                    <div class="content">
                                    <span class="red">
                                    ・仮想化(画面転送)の技術で利用端末にデータを残さない<br />
                                    ・クライアントドライブのリダイレクション禁止が可能<br />
                                    ・アプリケーションのコピー＆ペーストも禁止が可能
                                    </span>
                                    </div>
                                </div>
                            </div>                                
                        </div>
                        <div class="col-md-12 col-sm-12">
                        <div class="block3">
                        <div class="arrow"><img src="img/work-style-reform-arrow2.png"></div>
                    </div>
                        <h2>テレワークスにGO-Globalが適切なわけ</h2>
                        <h2>特に対策の遅れているSMB市場には最適です</h2>
                    </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-4 col-sm-4">
                                <div class="block1">
                                <div class="image"><img src="img/work-style-reform-constitution.png"></div>
                                <div class="title">シンプルな構成</div>
                                <div class="content">構成がシンプルなためすぐに構築が可能</div>
                            </div>
                        </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="block1">
                                <div class="image"><img src="https://www.kitasp.com/wp-content/themes/kitasp/images/work-style-reform-small start.png"></div>
                                <div class="title">スモールスタート</div>
                                <div class="content">最低5ユーザからすぐに始めることが出来ます</div>
                            </div>
                        </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="block1">
                                <div class="image"><img src="https://www.kitasp.com/wp-content/themes/kitasp/images/work-style-reform-low cost.png"></div>
                                <div class="title">コスト安</div>
                                <div class="content">同時接続ユーザのライセンス体系のため使った分の課金</div>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="block1">
                                <div class="image"><img src="https://www.kitasp.com/wp-content/themes/kitasp/images/work-style-reform-multi-device.png"></div>
                                <div class="title">マルチデバイス</div>
                                <div class="content">マルチデバイスに対応</div>
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="block1">
                                <div class="image"><img src="https://www.kitasp.com/wp-content/themes/kitasp/images/work-style-reform-operation.png"></div>
                                <div class="title">運用</div>
                                <div class="content">仮想化の技術の訓練を受けなくても運用が可能</div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            
                </div>
                {{ end }}

            </section>



        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>



            </section>

            {{ end }}

        </div>

    <!-- /.row -->
</div>
